.form-group {
  label {
    font-size: $font-size-base * .875;
    font-weight: $font-weight-bold;
  }

  .form-control {
    font-size: $input-font-size;
  }
}

fieldset {
  legend {
    color: $body-color;
    font-size: $font-size-base;
    font-weight: $font-weight-bold;
    letter-spacing: 0.3px;
    line-height: $line-height-lg;
    margin-bottom: 1rem;
  }
}

textarea {
  min-height: $input-height;
}
