<div class="table-group">
  <div class="table-wrapper">
    <table
      mat-table
      [dataSource]="items"
      class="items-deleted"
      matSort
      matSortActive="created"
      matSortDisableClear
      matSortDirection="desc"
    >
      <ng-container matColumnDef="avatar">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          <img [src]="row.avatar" [alt]="row.title" appImgDefault="cover-default.svg">
        </td>
      </ng-container>
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'title' | translate }}</th>
        <td mat-cell *matCellDef="let row">
          <span ellipsis>{{ row.title }}</span>
        </td>
      </ng-container>
      <ng-container *ngIf="!userId" matColumnDef="author">
        <th mat-header-cell *matHeaderCellDef>{{ 'author' | translate }}</th>
        <td mat-cell *matCellDef="let row">
          <div>
            <img [src]="row.author.avatar" [matTooltip]="row.author.displayName" appImgDefault="user-default.png">
            <span *ngIf="row.inappropriate?.authorReviewed">{{ 'item.opinions.marked' | translate }}</span>
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="created">
        <th mat-header-cell *matHeaderCellDef mat-sort-header start="desc">{{ 'published' | translate }}</th>
        <td mat-cell *matCellDef="let row">{{ row.created | date:'shortDate' }}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div *ngIf="loading && !items.length" class="table-loader">
      <mat-spinner color="accent" diameter="30" strokeWidth="3"></mat-spinner>
    </div>
  </div>
  <mat-paginator [length]="resultsLength" [pageSize]="15" [pageSizeOptions]="[5, 10, 15, 20]"></mat-paginator>
</div>
