@import "~src/styles/base/variables";

.items-deleted {
  .mat-column-avatar {
    width: 46px;

    img {
      width: 46px;
      height: 34px;
      border-radius: 6px;
      object-fit: cover;
    }
  }

  .mat-column-title {
    span {
      color: $color-grey-800;
      font-size: 16px;
      font-weight: $font-w-bold;
      line-height: 1.2;
      max-height: 2 * 1.2em;
      display: block;
      overflow: hidden;
      word-break: break-word;
    }
  }

  .mat-column-created {
    width: 30%;
  }

  .mat-column-author {
    width: 30%;

    & > div {
      display: flex;
      align-items: center;

      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        object-fit: cover;
      }

      span {
        font-size: 10px;
        font-weight: $font-w-bold;
        line-height: 1.2;
        color: $color-grey-600;
        text-transform: uppercase;
        margin-left: 12px;
      }
    }

    & + .mat-column-created {
      width: 20%;
    }
  }

  @media all and (min-width: $screen-tablet) {
    td.mat-cell,
    th.mat-header-cell {
      padding: 10px 0 10px 20px !important;

      &:last-of-type {
        padding-right: 20px !important;
      }
    }
  }

  @media all and (min-width: $screen-desktop-small) {
    .mat-column-title {
      span {
        max-height: 1.2em;
      }
    }

    .mat-column-created {
      width: 20%;
    }
  }

  @media all and (max-width: $screen-tablet) {
    .mat-column-avatar {
      display: none;
    }
  }
}
