<div *ngIf="item" class="card-item">
  <div class="card-content" matRipple [matRippleUnbounded]="true" (click)="openItem()">
    <div *ngIf="(isOwnItem || isAdmin) && item.inappropriate" class="card-chip">{{ 'inappropriate' | translate }}</div>
    <figure *ngIf="item.avatar">
      <img [src]="item.avatar" [alt]="item.title" appImgDefault="cover-default.svg">
    </figure>
    <div class="content">
      <h4 class="title" ellipsis [ellipsis-content]="item.title">{{ item.title }}</h4>
      <div *ngIf="item.summary" class="summary" ellipsis [ellipsis-content]="item.summary">{{ item.summary }}</div>
      <a *ngIf="item.link" class="link" [href]="item.link" target="_blank">{{ item.link }}</a>
    </div>
  </div>
  <div class="card-actions">
    <div class="primary-actions">
      <app-fav-button [item]="item" (change)="onFavouriteChange($event)"></app-fav-button>
      <div class="comments-btn" (click)="toggleComments()">
        <button mat-icon-button class="item-action-btn">
          <mat-icon fontIcon="icon-chat-bubble"></mat-icon>
        </button>
        <span *ngIf="item.numberComments">
          {{ 'item.comments.count' | translate:{count: item.numberComments} }}
        </span>
      </div>
    </div>
    <app-menu-button *ngIf="actions && actions.length" [actions]="actions"></app-menu-button>
  </div>
  <div *ngIf="showComments" class="comments">
    <app-comments-list
      theme="dark"
      [autofocus]="true"
      [itemId]="item.id"
      (commentsChange)="onCommentsChange($event)"
    ></app-comments-list>
  </div>
</div>
