@import "~src/styles/base/variables";
@import "~src/styles/base/mixins";

.item-detail {
  display: flex;
  min-width: 100%;
  min-height: 100%;
  background-color: $color-grey-100;

  .container-wrapper {
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
    background-color: $color-foreground;
    color: $color-grey-800;
    box-shadow: 0 0 25px -10px $color-background-accent;
    padding-bottom: 50px;

    .header-wrapper {
      position: relative;
      width: 100%;
      height: 400px;
      margin: 0;
      overflow: hidden;

      .header {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }

      .card-chip {
        top: 24px;
        left: 30px;
      }
    }

    .title-wrapper {
      margin-top: 30px;
      margin-bottom: 30px;

      .item-date {
        font-size: 12px;
        line-height: 2;
      }

      .item-title {
        margin-top: 12px;
        font-size: 38px;
        font-weight: $font-w-bold;
        line-height: 1.25;
      }

      @media all and (min-width: $screen-desktop-small) {
        margin-top: 50px;
        margin-bottom: 40px;

        .item-title {
          margin-top: 10px;
          font-size: 44px;
        }
      }

      @media all and (min-width: $screen-desktop) {
        margin-bottom: 50px;
      }
    }

    .details-wrapper {
      box-sizing: border-box;
      margin-bottom: 30px;
      background-color: $color-grey-200;

      .details-container {
        display: flex;
        align-items: center;
        position: relative;
        flex-wrap: wrap;
        justify-content: flex-end;

        .details-group,
        .item-actions {
          height: 70px;
        }

        .details-group {
          display: flex;
          align-items: center;
          margin-right: auto;
          overflow: hidden;

          .author-avatar {
            display: inline-block;
            height: 46px;
            width: 46px;
            border-radius: 50%;
            overflow: hidden;
            flex-shrink: 0;

            & > img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          .box {
            margin-left: 20px;
            color: $color-grey-700;
            overflow: hidden;

            .author-name {
              margin-bottom: 6px;
              font-size: 16px;
              font-weight: $font-w-bold;
              line-height: 1.2;
              @extend %ellipsis;
            }

            .item-playlist {
              font-size: 12px;
              font-weight: $font-w-regular;
              line-height: 1.4;
              @extend %ellipsis;

              .playlist-label {
                margin-right: 5px;
                text-transform: capitalize;
                font-style: italic;
              }

              .playlist-name {
                font-family: $font-family-accent;
                text-transform: uppercase;
                text-decoration: none;
                color: $color-grey-700;

                &:focus,
                &:hover {
                  color: $color-grey-900;
                }
              }
            }
          }
        }

        .item-actions {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          justify-content: flex-end;
          margin-left: 15px;

          app-fav-button,
          app-menu-button,
          .comments-btn {
            margin-left: 8px;

            > button {
              font-size: 21.25px;
            }
          }

          .comments-btn {
            display: flex;
            align-items: center;
            cursor: pointer;

            & > span {
              margin-right: 13px;
              font-size: 14px;
              color: $color-grey-600;
            }
          }
        }
      }

      @media all and (min-width: $screen-tablet) {
        .details-container {
          flex-wrap: nowrap;

          .details-group,
          .item-actions {
            height: 84px;
          }

          .item-actions {
            width: auto;
          }
        }
      }

      @media all and (min-width: $screen-desktop-small) {
        margin-bottom: 50px;
      }
    }

    .item-body {
      padding-bottom: 60px;
      font-size: 16px;
      line-height: 1.4;

      figure {
        margin: 0;
      }

      img {
        display: block;
        width: auto;
        max-width: 100%;
        height: auto;
        margin: 2.5em auto;
      }

      p {
        margin: 0 0 1.4em;
      }

      a {
        text-decoration: none;
        color: $color-primary;

        &:hover,
        &:focus {
          color: map_get($md-primary, 900);
        }
      }

      @media all and (min-width: $screen-desktop-small) {
        font-size: 18px;
      }
    }

    .comments {
      background-color: $color-grey-100;
      padding-top: 32px;
    }

    .trials {
      margin-top: 100px;
      padding-bottom: 50px;
    }

    @media all and (min-width: $screen-desktop-large) {
      width: 1000px;
    }
  }
}
