<div class="item-detail">

  <div *ngIf="currentItem" class="container-wrapper">

    <figure class="header-wrapper">
      <div *ngIf="currentItem.inappropriate" class="card-chip inappropriate">{{ 'inappropriate' | translate }}</div>
      <img class="header" [src]="currentItem.avatar" [alt]="currentItem.title" appImgDefault="cover-default.svg">
    </figure>

    <div class="title-wrapper">
      <div class="container-item">
        <div class="item-date">{{currentItem.created | date:'LLL dd, yyyy' }}</div>
        <div class="item-title">{{ currentItem.title }}</div>
      </div>
    </div>

    <div class="details-wrapper">
      <div class="container-item">
        <div class="details-container">
          <div class="details-group">
            <div class="author-avatar">
              <img
                [src]="currentItem.author?.avatar"
                [alt]="currentItem.author.displayName"
                appImgDefault="user-default.png"
              >
            </div>
            <div class="box">
              <div class="author-name">{{ currentItem.author.displayName }}</div>
              <div class="item-playlist">
                <span class="playlist-label">{{ 'playlists' | translate:{count: 1} }}:</span>
                <a
                  class="playlist-name"
                  [title]="currentItem.playlist?.title"
                  [routerLink]="['/playlist', currentItem.playlist?.id]"
                >{{ currentItem.playlist?.title }}</a>
              </div>
            </div>
          </div>
          <div class="item-actions">
            <div class="comments-btn" (click)="goToComments(comments)">
              <span *ngIf="currentItem.numberComments">
                {{ 'item.comments.count' | translate:{count: currentItem.numberComments} }}
              </span>
              <button mat-icon-button class="item-action-btn">
                <mat-icon fontIcon="icon-chat-bubble"></mat-icon>
              </button>
            </div>
            <app-fav-button [item]="currentItem"></app-fav-button>
            <app-menu-button [actions]="actions"></app-menu-button>
          </div>
        </div>
      </div>
    </div>

    <div class="container-item">
      <div class="item-body" [innerHTML]="body"></div>
    </div>

    <div class="comments" #comments>
      <div class="container-item">
        <app-comments-list theme="light" [itemId]="currentItem.id"></app-comments-list>
      </div>
    </div>

  </div>

</div>
