@import "~src/themes/theme-colors";

.mat-table {
  background-color: transparent;

  .mat-header-row {
    //color: $color-primary-main;

    .mat-header-cell {
      color: $color-accent-light;
      .mat-sort-header-container {
        .mat-sort-header-button {
        }
        .mat-sort-header-arrow {
          color: $color-accent-light;
        }
      }
    }
  }
}
