<mat-dialog-content *ngIf="mainLoader" class="main-loader">
  <mat-spinner color="accent" strokeWidth="4" diameter="100"></mat-spinner>
</mat-dialog-content>

<mat-spinner *ngIf="!mainLoader" strokeWidth="4" diameter="100" class="loader content-loader"></mat-spinner>
