@import "~src/styles/base/variables";

.loader {
  .mat-dialog-container {
    background-color: transparent;
    box-shadow: none;

    .mat-dialog-content {
      overflow: hidden;

      .mat-spinner {
        margin: 0 auto;
      }
    }
  }

  &.content-loader {
    circle {
      stroke: rgba($color-foreground, .15);
    }
  }

  svg {
    width: 100% !important;
    height: 100% !important;
  }
}
