.container {
  .wrapper {
    .mat-table {
      .mat-row {
        .mat-column-picture {
          > img {
            max-width: 16px;
            max-height: 16px;
          }
        }

        .mat-column-actions {
          .action {
            .action-icon {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
