<div class="container">

  <mat-spinner *ngIf="loading"></mat-spinner>

  <div *ngIf="!loading" class="wrapper">
    <mat-form-field>
      <label>
        <input matInput (keyup)="filter($event.target.value)" placeholder="Filter">
      </label>
    </mat-form-field>

    <mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="picture">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Picture</mat-header-cell>
        <mat-cell *matCellDef="let user"><img [appDefaultImage]="defaultImage" alt="Profile picture" src="{{ user.picture }}"></mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name</mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.firstName + ' ' + user.lastName}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="role">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Role</mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.role ? rolesLabel[user.role.name] : 'No role assigned'}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
        <mat-cell *matCellDef="let user; let index">
          <div *ngFor="let action of actions" class="action">
            <mat-icon class="icon action-icon" (click)="action.action(user.id, index)">{{action.icon}}</mat-icon>
          </div>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let user; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[25, 50, 100, 200]"></mat-paginator>
  </div>
</div>
