<h3 mat-dialog-title [innerHTML]="data.title.string | translate:data.title.params"></h3>

<mat-dialog-content>
  <p class="text" [innerHTML]="data.text.string | translate:data.text.params"></p>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close class="secondary-btn">
    {{ data.secondaryAction.string | translate:data.secondaryAction.params }}
  </button>
  <button mat-raised-button color="primary" [mat-dialog-close]="true" cdkFocusInitial class="primary-btn">
    {{ data.primaryAction.string | translate:data.primaryAction.params }}
    <mat-icon *ngIf="data.icon" fontIcon="icon-{{ data.icon }}"></mat-icon>
  </button>
</mat-dialog-actions>
