@import "~src/sass/abstracts/variables";

$component-height: calc(1em * #{$line-height-base});
$growth: 0.5em;

:host {
  height: $component-height;
  position: relative;
}

.input-group {
  height: calc(#{$component-height} + #{$growth});
  left: 0;
  padding: inherit;
  position: absolute;
  top: -($growth / 2);

  .btn {
    font-size: $font-size-base * 0.5;
    line-height: inherit;
    min-width: 0;
    padding: 0 7px;
  }

  .input-group-prepend {
    .btn {
      &:hover,
      &:focus {
        background-color: $gray-200;
      }
    }
  }

  input {
    height: inherit;
    line-height: inherit;
    padding: 0 8px;
  }
}

a.edit-field {
  color: $primary;
  cursor: pointer;
  display: block;

  &::after {
    content: $ba-pencil;
    display: inline-block;
    font-family: $icomoon-font-family;
    margin-left: 7px;
    position: relative;
    top: 1px;
  }
}
