@import "~src/sass/abstracts/variables";

:host {
  flex: 1 0;
}

.archive {
  padding-bottom: 4rem;
  padding-top: 3rem;

  .btn-back {
    color: inherit;
    display: inline-block;
    font-size: $font-size-base * .875;
    margin-bottom: 3rem;
    transition: $transition-base;

    i {
      display: inline-block;
      font-size: $font-size-sm;
      margin-right: 8px;
      position: relative;
      transition: inherit;
    }

    &:hover,
    &:focus {
      color: $primary-hover;
      text-decoration: none;

      i {
        font-weight: $font-weight-bold;
        transform: translateX(-3px);
      }
    }
  }

  h2 {
    margin-bottom: 1.5rem;
  }
}
