@import "~src/styles/base/variables";

.item-opinions {
  main {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .actions {
    padding: 81px 20px 85px;
    text-align: center;
    flex-shrink: 0;

    p {
      max-width: 260px;
      margin: 0 auto 25px;
      color: $color-grey-400;
    }

    .buttons {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      mat-slide-toggle {
        margin-bottom: 30px;
      }
    }

    @media all and (min-width: $screen-tablet) {
      p {
        max-width: 400px;
      }

      .buttons {
        flex-direction: row;

        mat-slide-toggle {
          margin-bottom: 0;
          margin-right: 30px;
        }
      }
    }

    @media all and (min-width: $screen-desktop) {
      p {
        max-width: 532px;
        margin-bottom: 50px;
      }
    }
  }

  .opinions {
    flex: none;
    background-color: $color-foreground;

    .mat-table {
      .mat-column-date {
        width: 30%;
      }

      .mat-row {
        opacity: .7;

        &.active-opinion {
          opacity: 1;
        }
      }
    }

    @media all and (min-width: $screen-desktop-small) {
      flex: 1 0;

      .mat-table {
        .mat-column-date {
          width: 20%;
        }
      }
    }
  }
}
