<section class="sidenav-content item-opinions">
  <mat-toolbar>
    <button mat-icon-button appCloseSidenav>
      <mat-icon fontIcon="icon-cross"></mat-icon>
    </button>
    <span class="title">{{ 'item.opinions.title' | translate }}</span>
  </mat-toolbar>
  <main>
    <div class="actions">
      <p>{{ 'item.opinions.text' | translate }}</p>
      <div class="buttons">
        <mat-slide-toggle
          color="primary"
          [formControl]="markAppropriateControl"
        >
          {{ ('item.opinions.' + (markAppropriateControl.value ? 'marked' : 'mark')) | translate }}
        </mat-slide-toggle>
        <button mat-flat-button color="primary" class="btn-big" (click)="removeItem()">
          {{ 'delete' | translate }}
          <mat-icon fontIcon="icon-trash"></mat-icon>
        </button>
      </div>
    </div>
    <div class="opinions table-group">
      <div class="table-wrapper">
        <table mat-table [dataSource]="comments">
          <ng-container matColumnDef="comment">
            <th mat-header-cell *matHeaderCellDef>{{ 'item.opinions.comment' | translate }}</th>
            <td mat-cell *matCellDef="let row">{{ row.comment }}</td>
          </ng-container>
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef>{{ 'date' | translate }}</th>
            <td mat-cell *matCellDef="let row">{{ row.created | date:'shortDate' }}</td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" [class.active-opinion]="row.active"></tr>
        </table>
        <div *ngIf="loading && !comments.length" class="table-loader">
          <mat-spinner color="accent" diameter="30" strokeWidth="3"></mat-spinner>
        </div>
      </div>
      <mat-paginator [length]="resultsLength" [pageSize]="15" [pageSizeOptions]="[5, 10, 15, 20]"></mat-paginator>
    </div>
  </main>
</section>
