<ul>
  <li class="project" *ngFor="let project of campaigns">
    <a (click)="view(project.id)" href="#">
      <div class="title">
        <span class="badge badge-dark" *ngIf="adminView">{{project.municipality.name}}</span>
        {{project.title}}
      </div>
      <div class="status badge badge-{{project.status.key === 'done' ? 'success' : 'warning'}}">
        {{project.status.name}}
      </div>
      <div class="last-action">
        {{globalConfig.project.lastAction[project.status.key] | titlecase}} {{project.updatedAt | date:'d. MMM kl. HH:mm' | lowercase}}
      </div>
      <div class="project-options-wrapper" *ngIf="project.status.key === 'draft'">
        <ul class="stats">
          <li>
            <span>{{project.selected || '-'}}</span>
            <span i18n>{{'Boliger' | titlecase}}</span>
          </li>
        </ul>
        <ul class="actions">
          <li><a href="#" i18n><i class="ba-pencil"></i>Redigér</a></li>
          <li><a href="#" i18n><i class="ba-copy"></i>Kopiér</a></li>
          <li><a href="#" class="danger-hover-color" i18n><i class="ba-trash"></i>Slet</a></li>
        </ul>
      </div>
      <div class="project-options-wrapper" *ngIf="project.status.key === 'done'">
        <ul class="stats">
          <li>
            <span>{{project.selected || '-'}}</span>
            <span i18n>{{'Boliger' | titlecase}}</span>
          </li>
          <li>
            <span>{{project.visited || '-'}}</span>
            <span i18n>{{'Visited' | titlecase}}</span>
          </li>
        </ul>
        <ul class="actions">
          <li><a href="#"><i class="ba-copy" i18n></i>Kopiér</a></li>
          <li><a href="#"><i class="ba-archive" i18n></i>Arkivér</a></li>
        </ul>
      </div>
    </a>
  </li>
</ul>
