@import "~src/sass/abstracts/variables";

ul {
  list-style: none;
  margin: 0;
  padding: 0;

  .project {
    background-color: $white;
    position: relative;
    transition: $transition-base;
    width: 100%;
    z-index: 0;

    & + .project {
      margin-top: 2px;
    }

    &:hover,
    &:focus {
      box-shadow: $box-shadow;
      z-index: 1;
    }

    a {
      color: $body-color;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }

    & > a {
      align-items: center;
      display: flex;
      padding: 1.5rem;

      .title {
        color: $primary;
        flex-shrink: 0;
        font-size: $font-size-base * 1.125;
        font-weight: $font-weight-bold;
        padding-right: 1rem;
        width: 32%;

        .badge {
          font-weight: $font-weight-normal;
          letter-spacing: 0.3px;
          margin-right: 10px;
        }
      }

      .status {
        color: $white !important;
        flex-shrink: 0;
        font-size: $font-size-base * 0.625;
        font-weight: $font-weight-normal;
        letter-spacing: 2px;
        line-height: 2.4;
        padding: 0;
        text-transform: uppercase;
        width: 90px;
      }

      .last-action {
        font-size: $font-size-base * 0.875;
        padding: 0 $grid-gutter-width;
        width: 25%;
      }

      .project-options-wrapper {
        align-items: center;
        display: flex;
        flex: 1 0;

        .stats {
          align-items: center;
          border-left: 1px solid $gray-300;
          display: flex;

          li {
            border-right: 1px solid $gray-300;
            font-size: $font-size-sm;
            min-width: 115px;
            text-align: center;

            span {
              display: block;
            }
          }
        }

        .actions {
          align-items: center;
          display: flex;
          margin-left: auto;
          margin-right: -$grid-gutter-width / 2 * 1.25;
          padding-left: 1rem;

          li {
            a {
              font-size: $font-size-sm;
              letter-spacing: 0.23px;
              padding: 8px ($grid-gutter-width / 2 * 1.25);
              transition: $transition-base;
              transition-duration: .2s;

              &:hover,
              &:focus {
                color: $primary-hover;
              }

              i {
                font-size: 1rem;
                margin-right: 10px;
                position: relative;
                top: -1px;
                vertical-align: middle;
              }
            }
          }
        }
      }

      @include media-breakpoint-down(lg) {
        flex-wrap: wrap;

        .title {
          flex: 1 0;
          line-height: $line-height-base;
          margin-bottom: 10px;
          width: auto;
        }

        .status {
          align-self: flex-start;
        }

        .last-action {
          padding: 0;
          width: 100%;
        }

        .project-options-wrapper {
          flex-wrap: wrap;

          .stats {
            border-left: 0;
            margin-top: 5px;
            width: 100%;

            li {
              border-right: 0;
              min-width: 0;
              padding-right: $grid-gutter-width / 2;

              & + li {
                border-left: 1px solid $gray-300;
                padding-left: $grid-gutter-width / 2;
              }

              span {
                display: inline-block;

                & + span {
                  margin-left: 3px;
                }
              }
            }
          }

          .actions {
            margin-top: -(1rem * $line-height-base);
          }
        }
      }

      @include media-breakpoint-down(sm) {
        .project-options-wrapper {
          .actions {
            margin: ($grid-gutter-width / 2) auto 0;
            padding-left: 0;
          }
        }
      }
    }
  }
}
