<section class="sidenav-content recycle-bin">
  <mat-toolbar>
    <button mat-icon-button appCloseSidenav>
      <mat-icon fontIcon="icon-cross"></mat-icon>
    </button>
    <span class="title">{{ 'review.bin' | translate }}</span>
  </mat-toolbar>
  <main>
    <mat-tab-group>
      <mat-tab [label]="'sections.myItems' | translate">
        <ng-template matTabContent>
          <app-items-deleted [userId]="currentUserId"></app-items-deleted>
        </ng-template>
      </mat-tab>
      <mat-tab [label]="'sections.userItems' | translate">
        <ng-template matTabContent>
          <app-items-deleted></app-items-deleted>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </main>
</section>
