@import "~src/styles/base/variables";

.recycle-bin {
  main {
    display: flex;

    .mat-tab-group {
      width: 100%;
      display: flex;
      flex-direction: column;

      .mat-tab-header {
        flex-shrink: 0;
        background-color: $color-background;
      }

      .mat-tab-body-wrapper {
        flex: 1 0;
        background-color: $color-foreground;

        .mat-tab-body {
          .mat-tab-body-content {
            app-items-deleted {
              display: block;
              height: 100%;

              .table-group {
                height: 100%;
              }
            }
          }
        }
      }
    }
  }
}
