<a class="btn btn-big-shadow-primary new-project" (click)="openNewProject()" [@showHideNewProject]></a>

<div class="user-home-wrapper">
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</div>

