<section class="profile">
  <div class="container-fluid">
    <h2 i18n>Din profil</h2>
    <div class="row" *ngIf="currentUser">
      <div class="col-12 col-sm">
        <div class="user-info">
          <h5 i18n>Brugeroplysninger</h5>
          <form>
            <div class="form-group">
              <label i18n>Navn</label>
              <div class="row align-items-center">
                <app-editable-field title="Fornavn" [(text)]="currentUser.firstName"
                                    (editComplete)="changeFirstName($event)"
                                    class="col-lg-6" #firstName></app-editable-field>
                <app-editable-field title="Efternavn" [(text)]="currentUser.lastName"
                                    (editComplete)="changeLastName($event)"
                                    class="col-lg-6" #lastName></app-editable-field>
              </div>
            </div>
            <div *ngIf="municipalityName !== null" class="form-group">
              <label i18n>Tilknyttede kommuner</label>
              <div class="field" i18n>{{municipalityName}}</div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-12 col-sm">
        <div class="login-info">
          <h5 i18n>Login oplysninger</h5>
          <form>
            <div class="row">
              <div class="form-group col">
                <label i18n>E-mail</label>
                <div class="row no-gutters align-items-center">
                  <div class="field" >{{currentUser.mail}}</div>
                  <a class="btn btn-primary btn-xs text-uppercase" (click)="changeEmail()" i18n>Skift email</a>
                </div>
              </div>
              <div class="form-group col">
                <label i18n>Password</label>
                <div class="row no-gutters align-items-center">
                  <div class="field">••••••••••••</div>
                  <a class="btn btn-primary btn-xs text-uppercase" (click)="changePassword()" i18n>Skift password</a>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="projects">
  <div class="container-fluid">
    <h3 i18n>Dine projekter</h3>
    <app-project-list [campaigns]="campaigns" [adminView]="isAdmin"></app-project-list>
    <div class="btn-archive">
      <a routerLink="../archive" class="btn btn-ghost" i18n>Se arkiv</a>
    </div>
  </div>
</section>
