@import "../../../../../sass/abstracts/variables";

:host {
  flex: 1 0;
}

.profile {
  padding-top: 3rem;

  h2 {
    margin-bottom: 2rem;
  }

  .user-info,
  .login-info {
    background-color: $white;
    height: 100%;
    padding: $grid-gutter-width;

    h5 {
      margin-bottom: 2rem;
    }

    label {
      display: block;
      font-size: $font-size-sm;
    }

    .form-group {
      margin-bottom: 2rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .login-info {
    .field {
      margin-right: 2rem;
    }
  }

  @include media-breakpoint-down(lg) {
    app-editable-field {
      & + app-editable-field {
        margin-top: 5px;
      }
    }
  }
}

.projects {
  padding-bottom: 4rem;
  padding-top: 3rem;

  h3 {
    margin-bottom: 1.5rem;
  }

  .btn-archive {
    display: flex;
    justify-content: center;
    margin-top: 3rem;

    .btn {
      min-width: 0;
      padding: 0 1.5rem;
    }
  }
}
