@import "../../../../styles/base/variables";

header {
  background-image: url(../../../../assets/images/portfolio-default-bg.png);
  background-size: cover;
  background-position: center;

  .header-wrapper {
    background: linear-gradient(180deg, rgba($color-background-accent, .2), $color-background);
    padding-top: $top-bar-height;

    .user-details {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
      padding: 34px 0 70px;

      .profile-img {
        flex: 1 0 100%;
        text-align: center;
        margin: 0 0 30px;

        img {
          display: inline-block;
          border-radius: 50%;
          width: 100px;
          height: 100px;
          object-fit: cover;
          box-shadow: $shadow;
        }
      }

      .details {
        flex: 1 0 100%;
        text-align: center;

        .name {
          font-size: 28px;
          font-weight: $font-w-bold;
          margin-top: 0;
          margin-bottom: 30px;
        }
      }
    }

    @media all and (min-width: $screen-tablet) {
      .user-details {
        flex-wrap: nowrap;
        padding: 86px 0 140px;

        .profile-img {
          flex: none;
          margin: 0 38px 0 0;

          img {
            width: 150px;
            height: 150px;
          }
        }

        .details {
          flex: 1 1 auto;
          text-align: left;

          .name {
            font-size: 34px;
          }
        }
      }
    }

    @media all and (min-width: $screen-desktop-small) {
      .user-details {
        justify-content: center;
        padding: 44px 0 136px;

        .profile-img {
          margin: 0 50px 0 0;

          img {
            width: 200px;
            height: 200px;
          }
        }

        .details {
          flex: none;

          .name {
            margin-bottom: 35px;
          }
        }
      }
    }

    @media all and (min-width: $screen-desktop) {
      .user-details {
        justify-content: flex-start;

        .profile-img {
          flex: 0 0 30%;
          text-align: right;
        }

        .details {
          flex: 1 0 auto;
        }
      }
    }
  }
}
