<app-top-bar></app-top-bar>
<header>
  <div class="header-wrapper">
    <div class="page-actions-bar">
      <button mat-icon-button class="left-btn" (click)="back()">
        <mat-icon *ngIf="isCurrentUser" fontIcon="icon-cross"></mat-icon>
        <mat-icon *ngIf="!isCurrentUser" fontIcon="icon-arrow-back"></mat-icon>
      </button>
    </div>
    <div class="container">
      <div class="user-details">
        <figure class="profile-img">
          <img [src]="user?.avatar" [alt]="user?.displayName" appImgDefault="user-default.png">
        </figure>
        <div class="details">
          <h2 class="name">{{ user?.displayName }}</h2>
        </div>
      </div>
    </div>
  </div>
</header>
<app-tabs-main-nav [navLinks]="mainTabs"></app-tabs-main-nav>
<router-outlet></router-outlet>
