@import "../../../../../styles/base/variables";

$playlists-row-columns: (
  0: 1,
  $screen-tablet: 2,
  $screen-desktop-small: 3,
  $screen-desktop-large: 4
);

$playlists-row-columns-small: (
  0: 1,
  $screen-tablet: 2,
  $screen-desktop-large: 3
);

.playlists-list {
  padding: 70px 0 80px;

  .playlists {
    margin: -8px;
    padding-bottom: 70px;

    &:not(.small) {
      @each $screen-size, $columns in $playlists-row-columns {
        @media all and (min-width: $screen-size) {
          app-card-playlist,
          .card-playlist-add,
          .item-loader {
            width: 100% / $columns;
          }
        }
      }
    }

    &.small {
      @each $screen-size, $columns in $playlists-row-columns-small {
        @media all and (min-width: $screen-size) {
          app-card-playlist,
          .card-playlist-add,
          .item-loader {
            width: 100% / $columns;
          }
        }
      }
    }

    .card-playlist-add {
      display: inline-block;

      .card-playlist-add-wrapper {
        display: block;
        width: 100%;
        padding-bottom: 100%;
        position: relative;

        .content {
          box-shadow: $shadow-long;
          overflow: hidden;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          margin: 8px;
          transition: $transition-base;
          cursor: pointer;
          border: 1px solid $color-grey-600;
          display: flex;
          align-items: center;
          justify-content: center;

          &:hover {
            box-shadow: $shadow-long-hover;
          }
        }
      }
    }

    .item-loader {
      display: inline-block;
    }

  }

  .load-more {
    text-align: center;
  }
}
