@import "~src/styles/base/variables";

$comment-size: 32px;
$comment-size-large: 40px;

.comment {
  padding-bottom: 26px;
  display: flex;
  align-items: flex-start;

  .author-img {
    width: $comment-size;
    height: $comment-size;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;

    @media all and (min-width: $screen-desktop-large) {
      width: $comment-size-large;
      height: $comment-size-large;
    }
  }

  .content {
    margin: 0 11px;
    flex: 1 0;

    .text {
      .view-mode,
      .edit-mode {
        border-radius: $comment-size / 2;
        font-size: 14px;
        line-height: 1.2;
        box-sizing: border-box;
        min-height: $comment-size;
        width: 100%;
        display: block;
      }

      .view-mode {
        padding: 8px 18px;

        & > div {
          display: block;
          max-height: 3em * 1.2;
          overflow: hidden;

          &.expanded {
            max-height: none;
            white-space: pre-wrap;
          }

          .ngx-ellipsis-more {
            margin-left: 2ch;
            position: relative;

            &::before {
              content: '...';
              position: absolute;
              right: calc(100% + 6px);
              pointer-events: none;
              cursor: default;
            }
          }
        }
      }

      .edit-mode {
        display: block;
        padding: 7px 40px 7px 18px;
        border: 1px solid;
        position: relative;

        textarea {
          background-color: transparent;
          min-height: 0;
          display: block;
          width: 100%;
          color: inherit;
          border: 0;
          outline: none;
          padding: 0;
          font-size: 14px;
          flex: 1 0;
        }

        .cancel-btn {
          width: $comment-size;
          height: $comment-size;
          position: absolute;
          top: 0;
          right: 0;
        }
      }
    }

    .meta {
      margin-top: 7px;
      font-size: 11px;
      text-align: right;

      span + span {
        &::before {
          content: ' · ';
        }
      }
    }

    @media all and (min-width: $screen-desktop-large) {
      margin: 0 20px;

      .text {
        .view-mode,
        .edit-mode {
          border-radius: $comment-size-large / 2;
          min-height: $comment-size-large;
        }

        .view-mode {
          padding: 12px 18px;
        }

        .edit-mode {
          padding: 10px 50px 10px 18px;

          .cancel-btn {
            width: $comment-size-large;
            height: $comment-size-large;
          }
        }
      }

      .meta {
        margin-top: 8px;
      }
    }
  }

  .action-btn {
    width: $comment-size;

    button {
      font-size: 24px;
      width: $comment-size;
      height: $comment-size;

      &[disabled] {
        &, .mat-icon {
          box-shadow: none !important;
        }
      }
    }

    .mat-spinner {
      width: $comment-size / 2 !important;
      height: $comment-size / 2 !important;
      margin: $comment-size / 4;

      svg {
        width: 100% !important;
        height: 100% !important;
      }
    }

    @media all and (min-width: $screen-desktop-large) {
      width: $comment-size-large;

      button {
        width: $comment-size-large;
        height: $comment-size-large;
      }

      .mat-spinner {
        width: $comment-size-large / 2 !important;
        height: $comment-size-large / 2 !important;
        margin: $comment-size-large / 4;
      }
    }
  }

  &.comment-theme-dark {
    .content {
      .text {
        .view-mode,
        .edit-mode {
          color: $color-foreground;
        }

        .view-mode {
          background-color: rgba($color-foreground, .05);

          & > div {
            .ngx-ellipsis-more {
              color: $color-grey-400;
            }
          }
        }

        .edit-mode {
          border-color: $color-grey-600;

          .cancel-btn {
            color: $color-grey-600;
          }
        }
      }

      .meta {
        color: $color-grey-600;
      }
    }

    .action-btn {
      button {
        &[disabled] {
          &, .mat-icon {
            color: $color-grey-600;
            background-color: transparent;
          }
        }
      }
    }
  }

  &.comment-theme-light {
    .content {
      .text {
        .view-mode,
        .edit-mode {
          color: $color-grey-800;
        }

        .view-mode {
          background-color: $color-foreground;

          & > div {
            .ngx-ellipsis-more {
              color: $color-grey-600;
            }
          }
        }

        .edit-mode {
          border-color: $color-grey-600;

          .cancel-btn {
            color: $color-grey-600;
          }
        }
      }

      .meta {
        color: $color-grey-600;
      }
    }

    .action-btn {
      button {
        &[disabled] {
          &, .mat-icon {
            color: $color-grey-600;
            background-color: transparent;
          }
        }
      }
    }
  }
}
