<div class="comment" [ngClass]="'comment-theme-' + theme">
  <img
    class="author-img"
    [src]="author.avatar"
    [alt]="author.displayName"
    appImgDefault="user-default.png"
  >
  <div class="content">
    <div class="text">
      <div *ngIf="mode === 'view'" class="view-mode">
        <div
          #ell="ellipsis"
          [ellipsis]="'more' | translate"
          [ellipsis-content]="comment.comment"
          (ellipsis-click-more)="onCommentExpand()"
          [class.expanded]="textExpanded"
        >{{ comment.comment }}</div>
      </div>
      <div *ngIf="mode === 'edit'" class="edit-mode">
        <textarea
          #input
          cdkTextareaAutosize
          [formControl]="textControl"
          [placeholder]="'item.comments.placeholder' | translate"
          (keydown.escape)="cancelEdit()"
        ></textarea>
        <button *ngIf="comment || textControl.value" class="cancel-btn" mat-icon-button (click)="cancelEdit()">
          <mat-icon fontIcon="icon-cross"></mat-icon>
        </button>
      </div>
    </div>
    <div *ngIf="comment" class="meta">
      <span class="author-name">{{ author.displayName }}</span>
      <span class="time">{{ comment.created | timeAgo }}</span>
    </div>
  </div>
  <div class="action-btn">
    <ng-container *ngIf="!loading">
      <button
        *ngIf="mode === 'edit' && !comment"
        mat-fab
        color="primary"
        [disabled]="textControl.invalid"
        (click)="addComplete()"
      >
        <mat-icon fontIcon="icon-send"></mat-icon>
      </button>
      <button
        *ngIf="mode === 'edit' && comment"
        mat-fab
        color="primary"
        [disabled]="textControl.invalid || textControl.pristine"
        (click)="editComplete()"
      >
        <mat-icon fontIcon="icon-check"></mat-icon>
      </button>
      <app-menu-button *ngIf="mode === 'view' && isOwnComment" [actions]="actions"></app-menu-button>
    </ng-container>
    <ng-container *ngIf="loading">
      <mat-spinner color="primary" strokeWidth="10"></mat-spinner>
    </ng-container>
  </div>
</div>
