@import "functions";
@import "mixins";

// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

//
// Color system
//

$white: #fff;
$gray-100: #F6F6F7;
$gray-200: #e9ecef;
$gray-300: #DDDDDD;
$gray-400: #ced4da;
$gray-500: #a2a6ad;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

$grays: (
  "100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
  "500": $gray-500,
  "600": $gray-600,
  "700": $gray-700,
  "800": $gray-800,
  "900": $gray-900
);

$blue: #007bff;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #F54B5E;
$orange: #fd7e14;
$yellow: #F8C51C;
$green: #48D2A0;
$teal: #20c997;
$cyan: #17a2b8;

$colors: ("blue": $blue,
  "indigo": $indigo,
  "purple": $purple,
  "pink": $pink,
  "red": $red,
  "orange": $orange,
  "yellow": $yellow,
  "green": $green,
  "teal": $teal,
  "cyan": $cyan,
  "white": $white,
  "gray": $gray-600,
  "gray-dark": $gray-800
);

$highlight: #76DDFB;
$primary: #0B5B73;
$primary-hover: #0F7999;
$secondary: #485465;
$extra: #53A8E2;
$success: $green;
$warning: $yellow;
$danger: $red;
$light: $gray-100;
$dark: #004B61;
$ghost: $white;
$info: $cyan;

$theme-colors: (
  "highlight": $highlight,
  "primary": $primary,
  "primary-hover": $primary-hover,
  "secondary": $secondary,
  "extra": $extra,
  "success": $success,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
  "ghost": $ghost,
  "info": $info
);

// Set a specific jump point for requesting color jumps
$theme-color-interval: 8%;

// Customize the light and dark text colors for use in our YIQ color contrast function.
$yiq-text-dark: $secondary;

// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-shadows: true;

// Body
//
// Settings for the `<body>` element.

$body-bg: $gray-100;
$body-color: $secondary;

// Links
//
// Style anchor elements.

$link-color: $primary;
$link-hover-color: $primary-hover;

// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-gutter-width: 24px;

// Components
//
// Define common padding and border radius sizes and more.

$line-height-lg: 1.5;
$line-height-sm: 1.33;

$border-width: 1px;

$border-radius: .2em;
$border-radius-lg: .2em;
$border-radius-sm: .15em;

$box-shadow: 0 0 1.25rem 0 rgba(155, 155, 155, 0.25);
$box-shadow-sm: 0 2px 4px 0 rgba($black, 0.09);
$box-shadow-lg: 0 1rem 1.5rem 0 rgba($black, .24);

$transition-base: all .3s ease-in-out;

// Fonts
//
// Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif: Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-base: $font-family-sans-serif;

$font-size-base: 1rem;
$font-size-sm: ($font-size-base * .75);
$font-size-lg: ($font-size-base * 1.25);

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

$line-height-base: 1.33333;

$h1-font-size: $font-size-base * 3;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.5;
$h4-font-size: $font-size-base * 1.125;
$h5-font-size: $font-size-base;
$h6-font-size: $font-size-base;

$headings-font-weight: $font-weight-bold;
$headings-line-height: $line-height-base;

// Tables
//
// Customizes the `.table` component with basic values, each used across all table variations.

$table-cell-padding: 1rem 1.25rem;

$table-bg: $white;
$table-accent-bg: rgba($black, .05);
$table-hover-bg: rgba($black, .075);

$table-head-bg: $white;
$table-head-color: $body-color;

$table-dark-bg: $dark;
$table-dark-border-color: $primary;
$table-dark-color: $white;

// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.

$input-btn-padding-y: 0;
$input-btn-padding-x: 1rem;
$input-btn-line-height: 3;

$input-btn-padding-y-sm: 0;
$input-btn-line-height-sm: 2.75;

$input-btn-padding-y-lg: 0;
$input-btn-line-height-lg: 4;

$input-btn-border-width: $border-width;

// Buttons
//
// For each of Bootstrap's buttons, define text, background, and border color.

$btn-min-width: 300px;
$btn-min-width-sm: 150px;
$btn-min-width-lg: 300px;

$btn-font-weight: $font-weight-bold;

$btn-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, background-size .3s ease-in-out;

// Forms
$input-color: $body-color;
$input-border-color: $gray-300;
$input-box-shadow: none;

$input-focus-border-color: $extra;
$input-focus-box-shadow: 0 2px 4px 0 rgba($black, .09);

$input-placeholder-color: $gray-400;

$form-text-margin-top: .2rem;

$input-font-size: $font-size-base * .875;
$form-group-margin-bottom: 1rem;

$form-check-input-gutter: 0;
$form-check-input-margin-y: 0;
$form-check-input-margin-x: 1rem;

$form-check-inline-margin-x: 1.5rem;
$form-check-inline-input-margin-x: .4rem;

// Navs

$nav-link-padding-y: $input-btn-padding-y;
$nav-link-padding-x: $input-btn-padding-x;
$nav-link-disabled-color: none;

// Navbar

$navbar-padding-y: 20px;
$navbar-padding-x: $grid-gutter-width;
$navbar-nav-link-padding-x: $nav-link-padding-x;
$navbar-brand-height: 56px;
$navbar-brand-padding-y: 0;

// Cards

$card-spacer-y: .75rem;
$card-spacer-x: 1rem;
$card-border-width: 0;
$card-cap-bg: $white;

// Modals

// Padding applied to the modal body
$modal-inner-padding: 2rem 3rem;

$modal-content-border-color: transparent;
$modal-content-border-width: 0;
$modal-content-border-radius: $border-radius;
$modal-content-box-shadow-xs: $box-shadow;
$modal-content-box-shadow-sm-up: $modal-content-box-shadow-xs;

$modal-backdrop-bg: $secondary;
$modal-backdrop-opacity: .4;
$modal-header-border-width: 0;
$modal-footer-border-width: 0;
$modal-header-padding: 0;
$modal-body-padding: 1.5rem 0 3rem 0;
$modal-footer-padding: 0;

$modal-lg: 976px;
$modal-md: 600px;
$modal-sm: 430px;

// Alerts
//
// Define alert colors, border radius, and padding.

$alert-padding-y: 5px;
$alert-padding-x: 1rem;
$alert-margin-bottom: 0;
$alert-dismissible-padding-right: .75rem;
$alert-border-width: 0;
$alert-bg-level: 0;
$alert-border-level: 0;
$alert-color-level: -(100 / $theme-color-interval);
$alert-font-size: .875rem;

// Close

$close-font-size: 1rem;
$close-font-weight: $font-weight-light;
$close-text-shadow: none;
$close-icon-size: 10px; // only pixels
$close-icon-line-width: 2px;

// ***************************
// *** Bootstrap variables ***
// ***************************
@import "~bootstrap/scss/variables";

// ************************
// *** Custom variables ***
// ************************
$icomoon-font-family: "BoliganalysenIcons";
$icomoon-font-path: "../assets/fonts/boliganalysen-icons";

$ba-save: "\e900";
$ba-close: "\e901";
$ba-times: "\e901";
$ba-close_bold: "\e913";
$ba-times_bold: "\e913";
$ba-arrow-right: "\e903";
$ba-arrow-left: "\e904";
$ba-arrow-top: "\e905";
$ba-arrow-bottom: "\e906";
$ba-arrow-right_bold: "\e907";
$ba-arrow-left_bold: "\e908";
$ba-arrow-top_bold: "\e909";
$ba-arrow-bottom_bold: "\e90a";
$ba-plus: "\e90b";
$ba-minus: "\e90c";
$ba-pencil: "\e902";
$ba-copy: "\e90d";
$ba-archive: "\e914";
$ba-trash: "\e90e";
$ba-person: "\e912";
$ba-eye: "\e90f";
$ba-check: "\e910";
$ba-check_bold: "\e911";
