<div class="wrapper">
  <h1 mat-dialog-title>Confirmation dialog</h1>
  <div mat-dialog-content>
    <span class="confirmation-text">{{ text }}</span>
  </div>
  <div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="false">{{ dialogTexts.reject }}</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>{{ dialogTexts.confirm }}</button>
  </div>
</div>

