<section class="hero">
  <div class="title">
    <div class="greeting" *ngIf="currentUser" i18n>Hej {{currentUser.firstName || currentUser.name}}.</div>
    <h2 i18n>Velkommen til Boliganalysen.</h2>
  </div>
  <p class="subtitle" i18n>
    Boliganalysen er et værktøj til kommunen hvor det er muligt at målrette energikampagner meget præcist mod specifikke
    boligejere.
  </p>
  <div class="help" [@showHideNewProject]>
    <div class="text" i18n>Opret et nyt projekt</div>
    <img src="/assets/images/projects/help-arrow.svg">
    <svg height="0" width="0">
      <defs>
        <clipPath id="helpArrow" transform="translate(-1322.000000, -136.000000)">
          <path d="M1383.70449,141.954867 L1378.00041,150.108344 L1376.36163,148.961872 L1384.25404,137.680367 L1385.27312,136.223673 L1385.98881,137.851027 L1391.53155,150.454225 L1389.70078,151.259377 L1385.69468,142.150223 L1384.89764,150.245721 C1382.56817,166.773696 1377.33899,179.478321 1369.1862,188.337231 C1364.65294,193.263124 1360.9204,195.955107 1356.98073,197.243045 C1353.83664,198.270896 1351.56587,198.402091 1344.98071,198.266056 C1336.46052,198.090047 1331.21565,198.385696 1323.19506,199.980792 L1322.80494,198.019208 C1330.99293,196.39082 1336.3696,196.087742 1345.02202,196.266482 C1351.37456,196.397712 1353.50696,196.274511 1356.35926,195.34205 C1359.93248,194.173912 1363.39469,191.676894 1367.71455,186.982885 C1375.56481,178.452705 1380.64033,166.121397 1382.91223,150.008256 L1383.70449,141.954867 Z"></path>
        </clipPath>
      </defs>
    </svg>
  </div>
</section>

<section class="projects">
  <div class="container-fluid">
    <h3 i18n>Dine projekter</h3>
    <app-project-list [campaigns]="campaigns" [adminView]="isAdmin"></app-project-list>
    <div class="btn-archive">
      <a routerLink="archive" class="btn btn-ghost" i18n>Se arkiv</a>
    </div>
  </div>
</section>
