@import "~src/styles/base/variables";
@import "~src/styles/base/mixins";

.mat-tab-nav-bar.tabs-main-nav {
  border: 0;
  padding-top: 30px;
  background-color: $color-background-accent;
  display: flex;
  overflow-x: auto;
  min-height: 150px;

  &::-webkit-scrollbar {
    display: none;
  }

  .mat-tab-header-pagination {
    display: none;
  }

  .mat-tab-link-container {
    overflow: initial;
  }

  .mat-tab-links {
    align-items: stretch;
    margin: 0 auto;

    .container {
      display: flex;

      .wrapper {
        display: flex;
        margin: 0 auto;
      }
    }

    .mat-tab-link {
      margin: 0 10px;
      padding: 0 20px;
      height: auto;
      min-height: 150px;
      min-width: 150px;
      flex-shrink: 0;
      display: flex;
      flex-direction: column;
      opacity: 1;
      color: $color-grey-500;
      font-size: 16px;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      &:hover,
      &.cdk-keyboard-focused {
        color: $color-foreground;
        background-color: rgba($color-foreground, .05);
      }

      &.mat-tab-label-active {
        color: $color-foreground;
        background-color: $color-background;
        pointer-events: none;
      }

      .amount {
        font-size: 28px;
        font-family: $font-family-accent;
        font-weight: $font-w-regular;
        margin-bottom: 12px;
      }

      .label {
        font-weight: $font-w-bold;
        font-size: 14px;
        text-transform: uppercase;
        @extend %ellipsis;
      }

      .new-content-dot {
        position: absolute;
        bottom: 24px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  .mat-ink-bar {
    display: none;
  }
}
