<nav
  #tabs
  mat-tab-nav-bar
  class="tabs-main-nav"
  (mousedown)="onMouseDown($event)"
  (mouseup)="onMouseUp($event)"
  (mouseleave)="onMouseUp($event)"
  (mousemove)="onMouseMove($event)"
>
  <div class="container">
    <div class="wrapper">
      <ng-container *ngFor="let link of navLinks">
        <a
          mat-tab-link
          *ngIf="!link.hide"
          [routerLink]="link.path"
          routerLinkActive #rla="routerLinkActive"
          [active]="rla.isActive"
        >

          <span class="amount">{{ link.amount || 0 }}</span>
          <span class="label">{{ link.label | translate }}</span>
          <span *ngIf="link.newContent" class="new-content-dot"></span>

        </a>
      </ng-container>
    </div>
  </div>
</nav>
