@import "~src/sass/abstracts/variables";

:host {
  flex: 1 0;
  overflow: auto;
  @include scrollbar;
}

.municipality-edit {
  padding-top: 3rem;

  h2 {
    margin-bottom: 1.5rem;
  }

  form {
    #code {
      box-sizing: content-box;
      width: 5ch;
    }

    #logo {
      padding: 0;
    }

    .image-preview {
      figcaption {
        display: inline-block;
        font-size: 0.875rem;
        font-weight: $font-weight-bold;
        margin-bottom: 0.5rem;
      }

      img {
        display: block;
        max-height: 80px;
        max-width: 200px;
      }
    }

    .form-actions {
      margin-left: -$grid-gutter-width;
      margin-right: -$grid-gutter-width;
      padding-top: 3rem;
    }
  }
}
