<section class="municipality-edit" *ngIf="show">
  <div class="container-fluid">
    <h2 i18n>Rediger kommune <em>{{municipalityToEdit.name}}</em></h2>

    <form [formGroup]="editMunicipalityForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="form-group col-sm-auto">
          <label for="code" i18n>Kode</label>
          <input
            type="text"
            class="form-control"
            id="code"
            name="att_code"
            autofocus
            appAutofocus
            formControlName="att_code"
            [ngClass]="{'is-invalid': errors.att_code}"
          >
          <app-input-feedback fields="att_code" [messages]="errors"></app-input-feedback>
        </div>
        <div class="form-group col">
          <label for="name" i18n>Navn</label>
          <input
            type="text"
            class="form-control"
            id="name"
            name="att_name"
            formControlName="att_name"
            [ngClass]="{'is-invalid': errors.att_name}"
          >
          <app-input-feedback fields="att_name" [messages]="errors"></app-input-feedback>
        </div>
      </div>

      <div class="form-group">
        <label for="description">Beskrivelse</label>
        <textarea
          class="form-control"
          id="description"
          name="att_description"
          formControlName="att_description"
          [ngClass]="{'is-invalid': errors.att_description}"
        ></textarea>
        <app-input-feedback fields="att_description" [messages]="errors"></app-input-feedback>
      </div>

      <div class="form-group">
        <label for="contact" i18n>Kontakt information</label>
        <ckeditor
          id="contact"
          formControlName="att_contact"
          [config]="{uiColor: '#DDDDDD'}"
          [readonly]="false"
          debounce="500"
        ></ckeditor>
        <app-input-feedback fields="att_contact" [messages]="errors"></app-input-feedback>
      </div>

      <div class="row">
        <div class="form-group col">
          <label for="logo" i18n>Logo</label>
          <input
            type="file"
            [accept]="allowedLogoTypes"
            class="form-control"
            id="logo"
            name="logo"
            formControlName="logo"
            (change)="onFileChange($event)"
            [ngClass]="{'is-invalid': errors.logo}"
          >
          <small class="form-text text-muted"><b>Tilladte filtyper:</b> {{allowedLogoTypesUserFriendly}}</small>
          <app-input-feedback fields="logo" [messages]="errors"></app-input-feedback>
        </div>
        <figure class="form-group image-preview col-sm-auto">
          <figcaption i18n>Nuværende logo</figcaption>
          <img id="image" [src]="municipalityLogo">
        </figure>
      </div>

      <div class="form-group">
        <div class="form-check">
          <input
            type="checkbox"
            class="form-check-input"
            id="active"
            name="att_active"
            [checked]="municipalityToEdit.active"
            formControlName="att_active"
          >
          <label for="active" class="form-check-label" i18n>Aktiv</label>
        </div>
        <app-input-feedback fields="att_active" [messages]="errors"></app-input-feedback>
      </div>

      <div class="form-actions">
        <button type="reset" (click)="cancel()" class="btn btn-ghost" i18n>Fortryd</button>
        <button type="submit" class="btn btn-primary" [disabled]="!editMunicipalityForm.dirty"
                [ngClass]="{'btn-loading indefinite': submitting}" i18n>Opret
        </button>
      </div>
    </form>
  </div>
</section>
