@import "~src/styles/base/variables";

.mat-sidenav-container {
  background-color: transparent;

  $sidenav-width-default: (
    0: 100%,
    $screen-tablet: calc(100% - 64px),
    $screen-desktop-small: 91.6%,
    $screen-desktop: 87.5%,
    $screen-desktop-large: 80%
  );

  $sidenav-width-small: (
    0: 100%,
    $screen-desktop-small: 70%,
    $screen-desktop: 60%
  );

  .mat-sidenav {
    transition: width $transition-duration-base;
    background-color: $sidenav-color;
    overflow-x: hidden;

    &.sidenav-default {
      @each $screen-size, $width in $sidenav-width-default {
        @media all and (min-width: $screen-size) {
          width: $width;
        }
      }
    }

    &.sidenav-small {
      @each $screen-size, $width in $sidenav-width-small {
        @media all and (min-width: $screen-size) {
          width: $width;
        }
      }
    }

    &.expanded,
    &.sidenav-expanded {
      width: 100% !important;
    }

    .mat-toolbar-single-row {
      height: $sidenav-toolbar-height;
      padding: 0 8px 0 11px;
      background-color: $sidenav-color;
      box-shadow: $shadow-dark;

      button {
        margin-right: 10px;
      }

      .title {
        margin-right: auto;
        font-size: 17px;
        font-weight: $font-w-regular;

        & ~ button {
          margin-right: 0;
          margin-left: 10px;
        }
      }
    }

    .sidenav-content {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100vh;

      .mat-toolbar {
        flex-shrink: 0;
        z-index: 200;
      }

      main {
        flex: 1 0;
        overflow-y: auto;
      }
    }
  }

  .mat-sidenav-content {
    min-height: 100vh;
  }

  .mat-drawer-backdrop {
    &.mat-drawer-shown {
      background-color: rgba($color-black, .5);
    }
  }
}
