<mat-sidenav-container>
  <mat-sidenav
    #sidenav
    [mode]="sidenavMode"
    position="end"
    [ngClass]="{expanded: isExpanded}"
    [class]="'sidenav-' + sidenavType"
    fixedInViewport
  >
    <div id="sidenav-outlet-{{_sidenavLevel}}"></div>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-scroll-top-button></app-scroll-top-button>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
