<section class="items-list">

  <ngx-masonry
    class="items-wrapper"
    [options]="options"
    [useImagesLoaded]="waitForImages"
    [updateLayout]="updateMasonryLayout"
    (layoutComplete)="refresh()"
  >

    <ngxMasonryItem *ngIf="showAdd" class="card-item-add">
      <div matRipple class="card-item-add-wrapper" (click)="onAdd()">
        <mat-icon fontIcon="icon-editor-page"></mat-icon>
        <div class="title">{{ 'empty.newItem.title' | translate }}</div>
        <div class="subtitle">{{ 'empty.newItem.subtitle' | translate }}</div>
        <button mat-fab color="primary">
          <mat-icon fontIcon="icon-plus"></mat-icon>
        </button>
      </div>
    </ngxMasonryItem>

    <ngxMasonryItem class="masonry-item" *ngFor="let item of items; let i = index">
      <app-card-item
        imagesLoaded
        (always)="refresh(item.id)"
        [item]="item"
        (remove)="onRemove(i)"
        (unfavourite)="onUnfavourite(i)"
        (unmark)="onUnmark(i)"
      ></app-card-item>
    </ngxMasonryItem>

  </ngx-masonry>

  <div *ngIf="loading" class="item-loader">
    <app-loader [mainLoader]="false"></app-loader>
  </div>

  <div *ngIf="!isLastPage && !loading" class="load-more">
    <button mat-flat-button color="primary" class="btn-big" (click)="onNextPage()">
      {{ 'loadMore' | translate }}
      <mat-icon fontIcon="icon-plus"></mat-icon>
    </button>
  </div>

</section>
