@import "~src/styles/base/variables";

$masonry-item-width: (
  0: 320px,
  $screen-tablet-small: 320px,
  $screen-tablet: 440px,
  $screen-desktop-small: 440px,
  $screen-desktop: 440px,
  $screen-desktop-large: 550px
);

$masonry-margin-v: 60px;

$masonry-padding-lateral: (
  0: 0,
  $screen-tablet-small: 0,
  $screen-tablet: 0,
  $screen-desktop-small: 0,
  $screen-desktop: 30px,
  $screen-desktop-large: 30px
);

//======================================================================================================================

.items-list {
  padding: 70px 0 80px;

  @each $screen-size, $width in $masonry-item-width {
    @media all and (min-width: $screen-size) {

      //================================================================================================================
      //-- Masonry uses absolute placements for its layout. This brings out some problems.
      //-- >= 1024px: Masonry places the items in a two column layout that takes the whole container width - no problem.
      //-- < 1024px: Masonry doesn't take the whole container width, and doesn't center elements, so we need to adjust
      //------------ the container's width and padding so that items are correctly centered on the page.
      $items-wrapper-padding: map-get($masonry-padding-lateral, $screen-size);
      @if ($items-wrapper-padding == 0) {
        $items-wrapper-padding: auto;
      } @else {
        $items-wrapper-padding: -$items-wrapper-padding;
      }

      $items-wrapper-width: if($screen-size < $screen-desktop, $width, auto);
      //================================================================================================================

      .items-wrapper {
        width: $items-wrapper-width;
        margin: 0 $items-wrapper-padding;
        padding-bottom: 70px;

        ngxMasonryItem,
        .card-item-add {
          width: $width;
          min-width: $width;
          margin: 0 auto $masonry-margin-v auto;
          padding: 0 map_get($masonry-padding-lateral, $screen-size);
          box-sizing: content-box;

          app-card-item {
            display: block;
          }
        }
      }
    }
  }

  .card-item-add {
    .card-item-add-wrapper {
      border: 1px solid $color-grey-600;
      padding: 60px 15px;
      text-align: center;
      transition: $transition-base;
      cursor: pointer;

      &:hover {
        box-shadow: $shadow-long-hover;
      }

      & > .mat-icon {
        font-size: 50px;
        margin-bottom: 30px;
        display: none;
      }

      .title {
        font-weight: $font-w-bold;
        font-size: 21px;
        margin-bottom: 10px;
      }

      .subtitle {
        font-size: 13px;
        color: $color-grey-600;
        max-width: 160px;
        margin: 0 auto 16px;
      }

      button {
        margin: 0 auto;
        width: 53px;
        height: 53px;
      }

      @media all and (min-width: $screen-tablet) {
        padding: 60px 50px;

        & > .mat-icon {
          display: block;
        }

        .subtitle {
          max-width: none;
          margin-bottom: 30px;
        }
      }
    }
  }

  .item-loader {
    display: block;
    text-align: center;

    app-loader {
      display: inline-block;
    }
  }

  .load-more {
    text-align: center;
  }
}
