html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: $color-foreground-main;
  background-color: $color-background-main;
}

.container {
  @include container($container, 20px);
}
