@mixin container($size-map, $padding: 0, $overrides: ()) {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 $padding;

  @media all and (min-width: map_get($bps, 'RT')) {
    box-sizing: content-box;
  }

  @each $bp, $width in map_merge($size-map, $overrides) {
    @media all and (min-width: map_get($bps, $bp)) {
      max-width: $width;
    }
  }
}

@mixin bp($bp, $mode: 'min') {
  @if map_has_key($bps, $bp) {
    @if ($mode == 'min') {
      @media all and (min-width: map_get($bps, $bp)) {
        @content
      }
    }
    @else if ($mode == 'max') {
      @media all and (max-width: map_get($bps, $bp)-1) {
        @content
      }
    }
    @else {
      @error "$mode must be one of: 'min'/'max'.";
    }
  }
  @else {
    @error "$bp must recieve a valid breakpoint: #{map_keys($bps)}";
  }
}
