<form *ngIf="ready" [formGroup]="projectForm" (ngSubmit)="submitFunction()">
  <mat-form-field
    appearance="outline"
    color="accent"
    class="name-field small-field"
  >
    <mat-label>Name</mat-label>
    <input
      matInput
      type="text"
      placeholder="Name"
      formControlName="name"
    >
  </mat-form-field>

  <mat-form-field
    appearance="outline"
    color="accent"
    class="state-field small-field"
  >
    <mat-label>State</mat-label>
    <mat-select
      formControlName="state"
    >
      <mat-option
        *ngFor="let state of states.keys"
        [value]="state"
      >
        {{ states.enum[state] }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field
    appearance="outline"
    color="accent"
    class="priority-field small-field"
  >
    <mat-label>Priority</mat-label>
    <mat-select
      formControlName="priority"
    >
      <mat-option
        *ngFor="let priority of priorities.keys"
        [value]="priority"
      >
        {{ priorities.enum[priority] }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field
    appearance="outline"
    color="accent"
    class="start-field small-field"
  >
    <mat-label>Start</mat-label>
    <input
      matInput
      [matDatepicker]="startDate"
      placeholder="Start"
      formControlName="start"
    >
    <mat-datepicker-toggle
      matSuffix
      [for]="startDate"
    ></mat-datepicker-toggle>
    <mat-datepicker #startDate></mat-datepicker>
  </mat-form-field>

  <mat-form-field
    appearance="outline"
    color="accent"
    class="deadline-field small-field"
  >
    <mat-label>Deadline</mat-label>
    <input
      matInput
      [matDatepicker]="estimationDate"
      placeholder="Start"
      formControlName="finishEstimate"
    >
    <mat-datepicker-toggle
      matSuffix
      [for]="estimationDate"
    ></mat-datepicker-toggle>
    <mat-datepicker #estimationDate></mat-datepicker>
  </mat-form-field>

  <mat-form-field
    appearance="outline"
    color="accent"
    class="finish-field small-field"
  >
    <mat-label>Finish</mat-label>
    <input
      matInput
      [matDatepicker]="finishDate"
      placeholder="Start"
      formControlName="finishReal"
    >
    <mat-datepicker-toggle
      matSuffix
      [for]="finishDate"
    ></mat-datepicker-toggle>
    <mat-datepicker #finishDate></mat-datepicker>
  </mat-form-field>

  <mat-form-field
    appearance="outline"
    color="accent"
    class="repository-field medium-field"
  >
    <mat-label>Repository</mat-label>
    <input
      matInput
      type="url"
      placeholder="Repository"
      formControlName="repositoryUrl"
    >
  </mat-form-field>

  <mat-form-field
    appearance="outline"
    color="accent"
    class="description-field big-field"
  >
    <mat-label>Description</mat-label>
    <textarea
      matInput
      rows="15"
      placeholder="Description"
      formControlName="description"
    ></textarea>
  </mat-form-field>

  <button
    mat-button
    *ngIf="ownControls"
    type="submit"
    color="accent"
  >
    Update
  </button>
</form>
