@import "~src/styles/base/variables";

.tabs-icons {
  border-bottom: 0;

  .mat-tab-link {
    min-width: 0;
    min-height: 60px;
    opacity: 1 !important;
    color: $color-foreground !important;
    display: flex;
    align-items: center;
    padding: 0 29px;

    .wrapper {
      display: inline-flex;
      align-items: center;
      font-size: 18px;
      font-family: $font-family-accent;
      font-weight: $font-w-regular;
      line-height: 40px;

      .mat-icon {
        font-size: 30px;
        min-width: 30px;
        margin-right: 5px;
      }
    }

    .new-content-dot {
      position: absolute;
      right: 9px;
    }
  }

  .mat-ink-bar {
    height: 2px;
    background-color: $color-foreground !important;
    box-shadow: none;
  }

  &.tabs-disabled {
    .mat-tab-link {
      min-height: 0;
      padding: 0 10px;
      cursor: default;

      .wrapper {
        pointer-events: auto;
      }

      .new-content-dot {
        display: none;
      }
    }

    .mat-ink-bar {
      display: none;
    }
  }
}
