<nav mat-tab-nav-bar class="tabs-icons" [class.tabs-disabled]="disabled">
  <a
    mat-tab-link
    *ngFor="let link of navLinks"
    [routerLink]="link.path"
    routerLinkActive #rla="routerLinkActive"
    [active]="rla.isActive"
    [disableRipple]="disabled"
    [disabled]="disabled"
    replaceUrl
  >
    <div class="wrapper" [matTooltip]="link.label.string | translate:link.label.params" (click)="clickGuard($event)">
      <mat-icon fontIcon="icon-{{ link.icon }}"></mat-icon>
      {{ link.amount || 0 }}
    </div>
    <div *ngIf="link.newContent" class="new-content-dot"></div>
  </a>
</nav>
