<div class="wrapper">
  <form [formGroup]="userForm" (ngSubmit)="update()">
    <h1 mat-dialog-title>User details</h1>
    <div mat-dialog-content>
      <mat-form-field appearance="outline" color="accent">
        <mat-label>First name</mat-label>
        <input matInput type="text" placeholder="First name" formControlName="firstName">
      </mat-form-field>
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Last name</mat-label>
        <input matInput type="text" placeholder="Last name" formControlName="lastName">
      </mat-form-field>
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Role</mat-label>
        <mat-select formControlName="role">
          <mat-option *ngFor="let role of roles" [value]="role.id">{{ roleLabels[role.name] }}</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="avatar-preview">
        <img [appDefaultImage]="defaultImage" alt='Picture preview' [src]="currentImage">
      </div>
      <label>
        <span>Picture</span>
        <input #imageInput type="file" accept="image/*" placeholder="Picture" (change)="uploadImage(imageInput)">
      </label>
    </div>
    <div mat-dialog-actions>
      <button mat-button (click)="close()">Leave</button>
      <button mat-button type="submit" cdkFocusInitial>Update</button>
    </div>
  </form>
</div>
