@import "~src/themes/theme-colors";

.wrapper {
  .mat-dialog-container {
    background-color: $color-background-dark;

    .wrapper {
      > form {
        .mat-dialog-content {
          .avatar-preview {
            max-width: 16px;
            max-height: 16px;
          }
        }
      }
    }
  }
}
