<mat-form-field class="chips-autocomplete">
  <mat-chip-list #chipList>
    <mat-chip
      class="compact"
      *ngFor="let item of items"
      [selectable]="selectable"
      [removable]="removable"
      (removed)="remove(item)"
    >
      {{ item.name }}
      <mat-icon matChipRemove *ngIf="removable" fontIcon="icon-cross"></mat-icon>
    </mat-chip>
    <input
      placeholder="{{ label }}"
      #input
      [formControl]="formCtrl"
      [matAutocomplete]="autocomplete"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      [matChipInputAddOnBlur]="false"
      (matChipInputTokenEnd)="add($event)"
    >
  </mat-chip-list>
  <mat-autocomplete #autocomplete="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option *ngFor="let option of _options$ | async" [value]="option.id">
      {{ option.name }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
