<div class="top-bar" [class.visible]="show">
  <a [href]="urlPlay" class="logo">
    <mat-icon fontIcon="icon-logo-cloud"></mat-icon>
    <span class="text">learning<strong>Cloud</strong></span>
  </a>
  <div class="content">
    <div class="user-info">
      <div class="name">{{ user?.displayName }}</div>
    </div>
    <div class="user-menu">
      <figure class="user-menu-trigger" [matMenuTriggerFor]="userMenu">
        <img [src]="user?.avatar" [alt]="user?.displayName" appImgDefault="user-default.png">
      </figure>
      <mat-menu #userMenu="matMenu" class="user-menu-panel">
        <div class="main">
          <img [src]="user?.avatar" [alt]="user?.displayName" appImgDefault="user-default.png">
          <div>
            <div class="user-info">
              <div class="name">
                <mat-icon fontIcon="icon-logo-cloud"></mat-icon>
                <span>{{ user?.displayName }}</span>
              </div>
              <div class="username">{{ contextualMenu?.username }}</div>
            </div>
            <ul class="links">
              <ng-container *ngFor="let item of userMenuItems">
                <li *ngIf="contextualMenu && contextualMenu[item]">
                  <a [href]="contextualMenu[item].url">{{ contextualMenu[item].label }}</a>
                </li>
              </ng-container>
            </ul>
          </div>
        </div>
        <div class="action-buttons">
          <a routerLink="/" mat-flat-button>{{ 'userMenu.portfolio' | translate }}</a>
        </div>
        <div class="list-items">
          <ul>
            <li *ngIf="contextualMenu && contextualMenu?.logout">
              <a [href]="contextualMenu.logout.url">
                <mat-icon fontIcon="icon-poweroff"></mat-icon>
                {{ contextualMenu.logout.label }}
              </a>
            </li>
          </ul>
        </div>
      </mat-menu>
    </div>
    <div *ngIf="applicationsMenu?.length" class="dashboard">
      <button mat-icon-button class="apps-menu-trigger" [matMenuTriggerFor]="appsMenu">
        <mat-icon fontIcon="icon-dashboard"></mat-icon>
      </button>
      <mat-menu #appsMenu="matMenu" class="apps-menu-panel">
        <ul class="apps">
          <ng-container *ngFor="let app of applicationsMenu">
            <li *ngIf="app.active">
              <a [href]="app.url" [target]="app.target">
                <img [src]="app.image.url" [alt]="app.image.label" class="icon">
                <span class="label">{{ app.image.label }}</span>
              </a>
            </li>
          </ng-container>
        </ul>
      </mat-menu>
    </div>
  </div>
</div>
