<form *ngIf="ready" [formGroup]="sprintForm" (ngSubmit)="submitFunction()">
  <mat-form-field
    appearance="outline"
    color="accent"
    class="name-field medium-field"
  >
    <mat-label>Name</mat-label>
    <input
      matInput
      type="text"
      placeholder="Name"
      formControlName="name"
    >
  </mat-form-field>

  <mat-form-field
    appearance="outline"
    color="accent"
    class="project-field medium-field"
  >
    <mat-label>Project</mat-label>
    <input
      matInput
      type="text"
      placeholder="Project"
      formControlName="project"
    >
  </mat-form-field>

  <mat-form-field
    appearance="outline"
    color="accent"
    class="start-field small-field"
  >
    <mat-label>Start</mat-label>
    <input
      matInput
      [matDatepicker]="startDate"
      placeholder="Start"
      formControlName="start"
    >
    <mat-datepicker-toggle
      matSuffix
      [for]="startDate"
    ></mat-datepicker-toggle>
    <mat-datepicker #startDate></mat-datepicker>
  </mat-form-field>

  <mat-form-field
    appearance="outline"
    color="accent"
    class="deadline-field small-field"
  >
    <mat-label>Deadline</mat-label>
    <input
      matInput
      [matDatepicker]="estimationDate"
      placeholder="Start"
      formControlName="finishEstimate"
    >
    <mat-datepicker-toggle
      matSuffix
      [for]="estimationDate"
    ></mat-datepicker-toggle>
    <mat-datepicker #estimationDate></mat-datepicker>
  </mat-form-field>

  <mat-form-field
    appearance="outline"
    color="accent"
    class="finish-field small-field"
  >
    <mat-label>Finish</mat-label>
    <input
      matInput
      [matDatepicker]="finishDate"
      placeholder="Start"
      formControlName="finishReal"
    >
    <mat-datepicker-toggle
      matSuffix
      [for]="finishDate"
    ></mat-datepicker-toggle>
    <mat-datepicker #finishDate></mat-datepicker>
  </mat-form-field>

  <mat-form-field
    appearance="outline"
    color="accent"
    class="description-field big-field"
  >
    <mat-label>Description</mat-label>
    <textarea
      matInput
      rows="15"
      placeholder="Description"
      formControlName="description"
    ></textarea>
  </mat-form-field>

  <button
    mat-button
    *ngIf="ownControls"
    type="submit"
    color="accent"
  >
    Update
  </button>
</form>
