@import "~src/sass/abstracts/variables";

:host {
  flex: 1 0;
  overflow: auto;
  @include scrollbar;
}

.user-list {
  padding: 3rem 0;

  h2 {
    margin-bottom: 1.5rem;
  }

  .btn-add {
    display: flex;
    justify-content: center;
    margin-top: 3rem;

    .btn {
      align-items: center;
      display: flex;
      min-width: 0;
      padding: 0 1.5rem;

      i {
        font-size: 1.3em;
        margin-right: 1rem;
        position: relative;
        top: -2px;
      }
    }
  }

  .table {
    th,
    td {
      vertical-align: middle;
    }
  }
}
