<div class="playlist-config" *ngIf="configuration !== _playlistConfiguration.PUBLIC">
  <mat-icon fontIcon="icon-lock"></mat-icon>
  <span>{{ 'playlistConfigs.' + _playlistConfiguration[configuration] | translate }}</span>
</div>
