<div class="modal-header">
  <h4 class="modal-title" i18n>{{title}}</h4>
  <button type="button" class="close" aria-label="Tæt" (click)="activeModal.dismiss()">
    <i aria-hidden="true" class="ba-close"></i>
  </button>
</div>
<div class="modal-body">
  <p class="text-center" [innerHTML]="text" i18n></p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="activeModal.close()" i18n>Slet</button>
  <button type="button" class="btn btn-link" (click)="activeModal.dismiss()" i18n>Fortryd</button>
</div>
