@import "~src/styles/base/variables";

.comments-list {
  .input-comment {
    padding-bottom: 12px;
    display: block;

    @media all and (min-width: $screen-desktop-large) {
      padding-bottom: 6px;
    }
  }

  .show-more {
    text-align: center;
    padding-bottom: 30px;

    a {
      display: inline-block;
      color: $color-grey-500;
      font-size: 14px;
      cursor: pointer;
      line-height: 30px;
      padding: 0 20px;

      &:hover,
      &:focus {
        color: $color-grey-300;
      }
    }

    .mat-spinner {
      margin: 0 auto;
    }
  }
}
