<section class="municipality-list">
  <div class="container-fluid">
    <h2 i18n>Kommuner</h2>

    <div class="table-responsive">
      <table class="table" *ngIf="show">
        <thead>
        <tr>
          <th i18n>Logo</th>
          <th i18n>Kode</th>
          <th i18n>Navn</th>
          <th class="expand" i18n>Beskrivelse</th>
          <th i18n>Status</th>
          <th i18n>Operationer</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let municipality of municipalities">
          <td><img [src]="municipality.image ? imageHost + municipality.image.url : logoPlaceholder"></td>
          <td>{{municipality.code}}</td>
          <td>{{municipality.name}}</td>
          <td>
            <span [innerHtml]="municipality.description?.value"></span>
          </td>
          <td>{{municipality.active ? 'Udgivet' : 'Upublicerede'}}</td>
          <td>
            <ul class="actions">
              <li><a (click)="edit(municipality)"><i class="ba-pencil"></i>Redigér</a></li>
              <li><a class="danger-hover-color" (click)="open(delete, municipality)"><i
                class="ba-trash"></i>Slet</a></li>
            </ul>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="btn-add">
      <a *ngIf="show" routerLink="/admin/municipalities/create" class="btn btn-secondary" i18n>
        <i class="ba-plus"></i>
        Tilføj kommunen
      </a>
    </div>
  </div>
</section>
