@import "~src/sass/abstracts/variables";

:host-context(.new-project) {
  .modal-body {
    padding: 2rem 0 .5rem 0;

    & > p {
      margin-left: auto;
      margin-right: auto;
      max-width: 570px;
    }

    .project-templates {
      & {
        display: grid;
        grid-auto-rows: 320px;
        grid-column-gap: 1.5rem;
        grid-row-gap: 1.8rem;
        grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
      }

      .card {
        color: $body-color !important;
        cursor: pointer;
        overflow: hidden;
        text-decoration: none !important;
        transition: $transition-base, box-shadow .2s ease-out;

        &:hover,
        &:focus {
          box-shadow: $box-shadow;
        }

        &.new-project {
          .card-body {
            flex: none;
            padding-bottom: 0;
          }

          .plus-icon {
            $plus-icon-size: 35px;
            $plus-icon-line-width: 7px;

            flex: 1 0;
            margin-bottom: 0.5rem;
            position: relative;

            &::before,
            &::after {
              border-top: $plus-icon-line-width solid $primary-hover;
              content: '';
              display: block;
              height: 0;
              left: calc(50% - #{$plus-icon-size / 2});
              position: absolute;
              top: calc(50% - #{$plus-icon-line-width / 2});
              width: $plus-icon-size;
              backface-visibility: hidden;
            }

            &::after {
              transform: rotate(90deg);
            }
          }
        }

        &:not(.new-project) {
          &::after {
            background: linear-gradient(180deg, transparent 0%, $card-bg 100%);
            bottom: 0;
            content: '';
            display: block;
            height: 40px;
            left: 0;
            position: absolute;
            right: 0;
          }
        }

        .card-text {
          &:last-of-type {
            margin-bottom: 1.5rem;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }

        .details {
          dt {
            color: $gray-500;
            font-size: $font-size-sm;
            font-weight: $font-weight-normal;
            letter-spacing: 0.23px;
            line-height: 1.75;
            margin-bottom: 3px;

            &::after {
              content: ':';
            }
          }

          dd {
            line-height: 1.5;
            margin-bottom: 1.5rem;

            .badge-list {
              margin: -2px;
              position: relative;

              .badge {
                background-color: $white;
                border: 1px solid $gray-300;
                color: $body-color;
                font-size: $font-size-base * 0.625;
                font-weight: $font-weight-bold;
                letter-spacing: 0.69px;
                line-height: 1rem;
                margin: 2px;
                padding: 2px 6px;
                text-align: center;
              }
            }
          }

          & > div {
            &:last-child {
              dd {
                margin-bottom: 0;
              }
            }
          }
        }

        .tag {
          & ~ .card-body {
            .card-title {
              padding-right: 2rem;
            }
          }
        }
      }
    }
  }
}
