<div class="form-wrapper">
  <h3 i18n>Campaign creation</h3>

  <form [formGroup]="addProjectForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="title" i18n>Title</label>
      <input
        type="text"
        class="form-control"
        id="title"
        name="att_title"
        placeholder="Title"
        formControlName="att_title"
      >
    </div>

    <div class="form-group">
      <label for="selected" i18n>Selected</label>
      <input
        type="number"
        class="form-control"
        id="selected"
        name="att_selected"
        placeholder="Selected"
        formControlName="att_selected"
      >
    </div>

    <div class="form-group">
      <label for="visited" i18n>Visited</label>
      <input
        type="number"
        class="form-control"
        id="visited"
        name="att_visited"
        placeholder="Visited"
        formControlName="att_visited"
      >
    </div>

    <div class="form-group">
      <h4 i18n>Status</h4>
      <ul>
        <li *ngFor="let status of statuses">
          <label [for]="status.internalId">{{status.name}}</label>
          <input
            type="radio"
            [id]="status.internalId"
            name="att_status"
            [value]="status"
            formControlName="att_status"
          >
        </li>
      </ul>
    </div>

    <div class="form-group">
      <h4 i18n>Municipality</h4>
      <ul>
        <li *ngFor="let municipality of municipalities">
          <label [for]="municipality.internalId">{{municipality.name}}</label>
          <input
            type="radio"
            [id]="municipality.internalId"
            name="att_municipality"
            [value]="municipality"
            formControlName="att_municipality"
          >
        </li>
      </ul>
    </div>

    <div class="form-actions">
      <button type="submit" class="btn btn-primary" i18n>Submit</button>
      <button type="reset" (click)="cancel()" class="btn btn-secondary" i18n>Go back</button>
    </div>
  </form>
</div>
