<div class="items-bookmarklet">
  <div *ngIf="state === 'success'" class="msg success">
    <mat-icon fontIcon="icon-check"></mat-icon>
    <p [innerHTML]="'bookmarklet.success' | translate:{item: item.title, playlist: item.playlist.title}"></p>
  </div>
  <div class="timer" [class.active]="state === 'success'"></div>
</div>
