@import "~src/styles/base/variables";

.items-bookmarklet {
  .msg {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 24px;
    line-height: 1.3;
    margin: 0 auto;
    max-width: 500px;

    p {
      margin: 0;

      span {
        color: $color-accent;
        font-weight: $font-w-bold;
      }
    }

    .mat-icon {
      color: $color-accent;
      font-size: 6em;
    }
  }

  .timer {
    width: 0;
    height: 5px;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: $color-accent;
    transition: width 2500ms linear;

    &.active {
      width: 100vw;
    }
  }
}
