@import "~src/styles/base/variables";
@import "~src/styles/base/mixins";

:host {
  display: inline-block;
}

.card-user {
  display: block;
  width: 100%;
  padding-bottom: 100%;
  position: relative;

  .card-user-wrapper {
    padding: 22px 10px 0 12px;
    background-color: $color-background;
    border-radius: $border-radius-base;
    transition: $transition-base;
    box-shadow: $shadow-long;
    margin: 8px;
    cursor: pointer;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    &:hover {
      box-shadow: $shadow-long-hover;
    }

    .user-img {
      width: 96px;
      height: 96px;
      object-fit: cover;
      border-radius: 50%;
      display: block;
      margin: 0 auto 25px;
      box-shadow: $shadow;
    }

    .user-name {
      font-size: 16px;
      font-weight: $font-w-bold;
      margin-bottom: 7px;
      @extend %ellipsis;
    }

    .user-playlists {
      font-size: 12px;
      text-transform: uppercase;

      span {
        display: inline-block;
        margin-right: 7px;
      }

      .count {
        font-family: $font-family-accent;
        line-height: 1;
      }
    }

    .chip {
      font-size: 10px;
      font-style: italic;
      font-weight: $font-w-medium;
      line-height: 22px;
      display: inline-block;
      padding: 0 10px;
      border-radius: 11px;
      background-color: $color-accent;
      margin-top: 5px;
    }

    @media all and (min-width: $screen-desktop) {
      padding: 30px 18px 0 16px;

      .user-img {
        width: 130px;
        height: 130px;
        margin-bottom: 29px;
      }

      .user-name {
        font-size: 20px;
      }

      .user-playlists {
        font-size: 16px;
      }

      .chip {
        font-size: 16px;
        line-height: 30px;
        padding: 0 13px;
        border-radius: 15px;
        margin-top: 11px;
      }
    }
  }
}
