<div class="card-user">
  <div matRipple class="card-user-wrapper" routerLink="/e-portfolio/user/{{ user.id }}">
    <img
      class="user-img"
      [src]="user.avatar"
      [alt]="user.displayName"
      appImgDefault="user-default.png"
    >
    <div class="user-name">{{ user.displayName }}</div>
    <div class="user-playlists">
      <span class="count">{{ user.relations.playlists.elements }}</span>
      <span class="count-elems">{{ 'playlists' | translate:{count: user.relations.playlists.elements} }}</span>
      <span *ngIf="false" class="new-content-dot"></span>
    </div>
    <div class="chip" *ngIf="false">New</div>
  </div>
</div>
