@import "~src/styles/base/variables";

.btn-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;

  @media all and (min-width: $screen-desktop-small) {
    flex-direction: row;

    button {
      margin-left: auto;
    }
  }
}
