<section class="user-create" *ngIf="rolesReady && municipalitiesReady">
  <div class="container-fluid">
    <h2 i18n>Bruger oprettelse</h2>

    <form [formGroup]="addUserForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="form-group col-sm-6 col-lg-3">
          <label for="firstName" i18n>Fornavn</label>
          <input
            type="text"
            class="form-control"
            id="firstName"
            name="att_firstName"
            formControlName="att_firstName"
            [ngClass]="{'is-invalid': errors.att_firstName}"
          >
          <app-input-feedback fields="att_firstName" [messages]="errors"></app-input-feedback>
        </div>
        <div class="form-group col-sm-6 col-lg-3">
          <label for="lastName" i18n>Efternavn</label>
          <input
            type="text"
            class="form-control"
            id="lastName"
            name="att_lastName"
            formControlName="att_lastName"
            [ngClass]="{'is-invalid': errors.att_lastName}"
          >
          <app-input-feedback fields="att_lastName" [messages]="errors"></app-input-feedback>
        </div>
        <div class="form-group col-sm-6 col-lg-3">
          <label for="mail" i18n>E-mail</label>
          <input
            type="email"
            class="form-control"
            id="mail"
            name="att_mail"
            formControlName="att_mail"
            [ngClass]="{'is-invalid': errors.att_mail}"
          >
          <app-input-feedback fields="att_mail" [messages]="errors"></app-input-feedback>
        </div>
        <div class="form-group col-sm-6 col-lg-3" *ngIf="selectMunicipality && !globals.config['roles'].administratorRoles.includes(addUserForm.controls['rel_role'].value)">
          <label for="municipality_s" i18n>Kommune</label>
          <select
            id="municipality_s"
            name="rel_municipality"
            formControlName="rel_municipality"
            class="form-control"
            [ngClass]="{'is-invalid': errors.rel_municipality}"
          >
            <option
              *ngFor="let mun of municipalities"
              value="{{mun.internalId}}"
            >
              {{mun.name}}
            </option>
          </select>
          <app-input-feedback fields="rel_municipality" [messages]="errors"></app-input-feedback>
        </div>
        <div class="form-group col-sm-6 col-lg-3" *ngIf="!selectMunicipality">
          <label for="municipality" i18n>Kommune</label>
          <input
            type="text"
            class="form-control"
            id="municipality"
            name="rel_municipality"
            formControlName="rel_municipality"
            [ngClass]="{'is-invalid': errors.rel_municipality}"
          >
          <app-input-feedback fields="rel_municipality" [messages]="errors"></app-input-feedback>
        </div>
      </div>

      <fieldset class="form-group" *ngIf="showActivationModes">
        <legend i18n>Aktiveringsproces</legend>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="status1" name="att_bool_isActive" value="1"
                 formControlName="att_bool_isActive">
          <label class="form-check-label" for="status1" i18n>Aktiver</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="status0" name="att_bool_isActive" value="0"
                 formControlName="att_bool_isActive">
          <label class="form-check-label" for="status0" i18n>Vent til administrativ godkendelse</label>
        </div>
        <app-input-feedback fields="att_bool_isActive" [messages]="errors"></app-input-feedback>
      </fieldset>

      <fieldset class="form-group" *ngIf="roles && roles.length > 1">
        <legend i18n>Roller</legend>
        <div class="form-check form-check-inline" *ngFor="let role of roles">
          <input class="form-check-input" type="radio" id="{{role.internalId}}" name="rel_role"
                 value="{{role.internalId}}" formControlName="rel_role">
          <label class="form-check-label" for="{{role.internalId}}">{{role.label}}</label>
        </div>
        <app-input-feedback fields="rel_role" [messages]="errors"></app-input-feedback>
      </fieldset>

      <div class="form-actions">
        <button type="reset" (click)="cancel()" class="btn btn-ghost" i18n>Fortryd</button>
        <button type="submit" class="btn btn-primary" [disabled]="!addUserForm.dirty"
                [ngClass]="{'btn-loading indefinite': submitting}" i18n>Opret
        </button>
      </div>
    </form>
  </div>
</section>
