@import "~src/sass/abstracts/variables";

:host {
  flex: 1 0;
  overflow: auto;
  @include scrollbar;
}

.user-create {
  padding-top: 3rem;

  h2 {
    margin-bottom: 1.5rem;
  }

  legend {
    margin-bottom: 0.5rem;
  }

  .form-actions {
    margin-left: -$grid-gutter-width;
    margin-right: -$grid-gutter-width;
    padding-top: 3rem;
  }
}
