<div class="wrapper">

  <h1 mat-dialog-title>
    Project details
    <span
      *ngIf="project.name"
    >
      - {{project.name}}
    </span>
  </h1>

  <div mat-dialog-content>

    <mat-spinner *ngIf="!project"></mat-spinner>

    <mat-tab-group dynamicHeight *ngIf="project">

      <mat-tab label="Basic information">
        <app-knotai-project-form
          [project]="project"
          [submitListener]="formSubmitSubject.asObservable()"
          (submittedEvent)="projectSubmittedEvent($event)"
        ></app-knotai-project-form>
      </mat-tab>

      <mat-tab label="Sprints">
        <mat-accordion
          multi
          displayMode="flat"
        >
          <mat-expansion-panel
            *ngFor="let sprint of project.sprints.nodes"
            (click)="!formQueue.has(sprint.id) && formQueue.set(sprint.id, {processed: false, status: false})"
            id="{{ sprint.id }}"
            expanded="false"
          >
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{ sprint.name }}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
              <app-knotai-sprint-form
                [sprint]="sprint.id"
                [submitListener]="formSubmitSubject.asObservable()"
                (submittedEvent)="sprintSubmittedEvent(sprint.id, $event)"
              ></app-knotai-sprint-form>
            </ng-template>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-tab>

      <mat-tab label="Stories">

      </mat-tab>

    </mat-tab-group>

    <!--    <form [formGroup]="projectForm" (ngSubmit)="update()">

          <mat-tab-group dynamicHeight>

            <mat-tab label="Basic information">

              <mat-form-field
                appearance="outline"
                color="accent"
                class="name-field small-field"
              >
                <mat-label>Name</mat-label>
                <input
                  matInput
                  type="text"
                  placeholder="Name"
                  formControlName="name"
                >
              </mat-form-field>

              <mat-form-field
                appearance="outline"
                color="accent"
                class="state-field small-field"
              >
                <mat-label>State</mat-label>
                <mat-select
                  formControlName="state"
                >
                  <mat-option
                    *ngFor="let state of states.keys"
                    [value]="state"
                  >
                    {{ states.enum[state] }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field
                appearance="outline"
                color="accent"
                class="priority-field small-field"
              >
                <mat-label>Priority</mat-label>
                <mat-select
                  formControlName="priority"
                >
                  <mat-option
                    *ngFor="let priority of priorities.keys"
                    [value]="priority"
                  >
                    {{ priorities.enum[priority] }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field
                appearance="outline"
                color="accent"
                class="start-field small-field"
              >
                <mat-label>Start</mat-label>
                <input
                  matInput
                  [matDatepicker]="startDate"
                  placeholder="Start"
                  formControlName="start"
                >
                <mat-datepicker-toggle
                  matSuffix
                  [for]="startDate"
                ></mat-datepicker-toggle>
                <mat-datepicker #startDate></mat-datepicker>
              </mat-form-field>

              <mat-form-field
                appearance="outline"
                color="accent"
                class="deadline-field small-field"
              >
                <mat-label>Deadline</mat-label>
                <input
                  matInput
                  [matDatepicker]="estimationDate"
                  placeholder="Start"
                  formControlName="finishEstimate"
                >
                <mat-datepicker-toggle
                  matSuffix
                  [for]="estimationDate"
                ></mat-datepicker-toggle>
                <mat-datepicker #estimationDate></mat-datepicker>
              </mat-form-field>

              <mat-form-field
                appearance="outline"
                color="accent"
                class="finish-field small-field"
              >
                <mat-label>Finish</mat-label>
                <input
                  matInput
                  [matDatepicker]="finishDate"
                  placeholder="Start"
                  formControlName="finishReal"
                >
                <mat-datepicker-toggle
                  matSuffix
                  [for]="finishDate"
                ></mat-datepicker-toggle>
                <mat-datepicker #finishDate></mat-datepicker>
              </mat-form-field>

              <mat-form-field
                appearance="outline"
                color="accent"
                class="repository-field medium-field"
              >
                <mat-label>Repository</mat-label>
                <input
                  matInput
                  type="url"
                  placeholder="Repository"
                  formControlName="repositoryUrl"
                >
              </mat-form-field>

              <mat-form-field
                appearance="outline"
                color="accent"
                class="description-field big-field"
              >
                <mat-label>Description</mat-label>
                <textarea
                  matInput
                  rows="15"
                  placeholder="Description"
                  formControlName="description"
                ></textarea>
              </mat-form-field>

            </mat-tab>

            <mat-tab label="Sprints">

              <mat-accordion
                multi
                displayMode="flat"
              >
                <mat-expansion-panel
                  *ngFor="let sprint of project.sprints.nodes"
                  id="{{ sprint.id }}"
                  expanded="true"
                >
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      {{ sprint.name }}
                    </mat-panel-title>
                  </mat-expansion-panel-header>



                </mat-expansion-panel>
              </mat-accordion>

            </mat-tab>

          </mat-tab-group>

        </form>-->


  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="close()">Leave</button>
    <!--    <button mat-button type="submit" cdkFocusInitial>Update</button>-->
    <button mat-button cdkFocusInitial (click)="update()">Update</button>
  </div>

</div>
