//
// Base styles
//

.alert {
  border-radius: 0;
  font-size: $alert-font-size;
  line-height: 1.7;
}

// Dismissible alerts
//
// Expand the right padding and account for the close button's positioning.

$close-icon-line-size: sqrt(2 * pow(strip-unit($close-icon-size), 2)) * 1px;

.alert-dismissible {
  padding-right: calc(#{$close-icon-size} + #{$alert-padding-x} + #{$alert-dismissible-padding-right});

  .close {
    box-sizing: content-box;
    color: inherit;
    font-size: 0;
    height: $close-icon-size;
    margin-top: -1px;
    outline: none;
    padding: $alert-dismissible-padding-right;
    position: absolute;
    right: 0;
    top: 0;
    width: $close-icon-size;

    &::before,
    &::after {
      border-left: $close-icon-line-width solid currentColor;
      color: $white;
      content: '';
      height: $close-icon-line-size;
      left: calc(50% - #{$close-icon-line-width / 2});
      position: absolute;
      top: calc(50% - #{$close-icon-line-size / 2});
      transform: rotate(45deg);
      transform-origin: center;
      transition: all .3s;
      width: 0;
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}
