//
// Base styles
//

.btn {
  letter-spacing: 1px;
  line-height: calc(#{$input-height-inner} - #{$btn-border-width * 2});

  &.disabled,
  &:disabled {
    opacity: .5;
  }

  &:focus,
  &:active,
  &:focus:active {
    box-shadow: none;
  }

  &.btn-loading {
    &.indefinite {
      animation: loading-indefinite .7s linear 0s alternate infinite;

      @keyframes loading-indefinite {
        0% {
          background-size: 0;
          background-position-x: 0;
        }
        49% {
          background-size: 100%;
          background-position-x: 0;
        }
        50% {
          background-position-x: 100%;
        }
        100% {
          background-size: 0;
          background-position-x: 100%;
        }
      }
    }
  }
}

// Custom styles

.btn-primary {
  @include theme-button($primary, $primary-hover, $white);
}

.btn-secondary {
  @include theme-button($secondary, #64758C, $white);
}

.btn-ghost {
  @include theme-button($white, $white, $secondary, $secondary, $gray-300, $gray-500, rgba($gray-300, .4));
}

.btn-light {
  @include theme-button($light, $light, $secondary, $primary-hover, $light, $light, rgba($gray-500, .12));
}

.btn-alt {
  font-size: $font-size-base !important;
  font-weight: $font-weight-normal;
  @include theme-button(transparent, transparent, $primary, $primary-hover, transparent, $gray-200, rgba($primary, .1));
}

.btn-link {
  border: 0 !important;
  line-height: $line-height-base !important;
  transition: $transition-base;
}

.btn-big-shadow-primary {
  @include theme-button-big-shadow(#107F9F, $extra, $white)
}

.btn-big-shadow-ghost {
  @include theme-button-big-shadow(transparent, transparent, $secondary, #DDDDDD, $primary-hover, #DDDDDD, false);
}
