.table {
  margin-bottom: 0;

  thead th,
  tbody td {
    border-bottom: $table-border-width solid $table-border-color;
    border-top: 0;
    color: $body-color;
    font-size: $font-size-base * 0.875;

    &:first-child {
      padding-left: $table-cell-padding + 0.25rem;
    }

    &:last-child {
      padding-right: $table-cell-padding + 0.25rem;
    }

    &.expand {
      width: 100%;
    }
  }

  th {
    font-weight: $font-weight-bold;
  }

  td {
    .actions {
      align-items: center;
      display: flex;
      list-style: none;
      margin: 0 (-$grid-gutter-width / 3);
      padding: 0;

      li {
        a {
          cursor: pointer;
          font-size: $font-size-sm;
          letter-spacing: 0.23px;
          padding: 6px ($grid-gutter-width / 3);
          transition: $transition-base;
          transition-duration: .2s;

          &:hover,
          &:focus {
            color: $primary-hover;
          }

          i {
            font-size: 0.8rem;
            margin-right: 6px;
            position: relative;
            top: -1px;
            vertical-align: middle;
          }
        }
      }
    }
  }
}
