@import "palettes";

$color-primary-main: map_get($md-primary, 500);
$color-primary-light: map_get($md-primary, 300);
$color-primary-dark: map_get($md-primary, 900);

$color-accent-main: map_get($md-accent, 500);
$color-accent-light: map_get($md-accent, 200);
$color-accent-dark: map_get($md-accent, 900);

$color-success-main: map_get($md-success, 500);
$color-success-light: map_get($md-success, 300);
$color-success-dark: map_get($md-success, 900);

$color-warn-main: map_get($md-warn, 500);
$color-warn-light: map_get($md-warn, 300);
$color-warn-dark: map_get($md-warn, 900);

$color-foreground-main: map_get($md-foreground, 500);
$color-foreground-light: map_get($md-foreground, 300);
$color-foreground-dark: map_get($md-foreground, 900);

$color-background-main: map_get($md-background, 500);
$color-background-light: map_get($md-background, 400);
$color-background-dark: map_get($md-background, 600);
$color-background-contrast: map_get($md-background, 800);
