@import "~src/styles/base/variables";
@import "~src/styles/base/mixins";

.items-add {
  main {
    .link {
      mat-form-field {
        width: 100%;
        display: block;
        margin-top: 60px;
      }

      .actions {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin: 60px -10px 0 -10px;

        button {
          margin: 10px;

          .lower {
            text-transform: lowercase;
            margin-right: 4px;
          }
        }
      }

      @media all and (min-width: $screen-tablet) {
        mat-form-field {
          margin-top: 90px;
        }

        .actions {
          justify-content: flex-end;
        }
      }

      @media all and (min-width: $screen-desktop) {
        mat-form-field {
          margin-top: 120px;
        }

        .actions {
          margin-top: 120px;
        }
      }
    }

    .post-edit {
      form {
        padding-bottom: 150px;

        .item-cover {
          background-color: rgba($color-background, .25);
          margin: 0 0 40px 0;
          position: relative;

          img {
            width: 100%;
            display: block;
          }

          .edit-img-btn {
            position: absolute;
            bottom: 0;
            right: 0;
          }
        }

        mat-form-field {
          width: 100%;
          margin-bottom: 15px;
          display: block;
        }

        .item-playlist {
          margin-bottom: 50px;

          label {
            margin-bottom: 12px;
            display: block;
          }

          .playlist-selector {
            display: flex;
            align-items: center;

            .playlist {
              display: flex;
              align-items: center;
              justify-content: center;
              outline: 1px solid $color-foreground;
              min-height: 94px;
              min-width: 0;
              background-color: rgba($color-grey-900, .8);
              flex: 1 0;
              margin-right: 6px;

              img {
                width: 94px;
                height: 94px;
                object-fit: cover;
                background-color: $color-background-accent;
                display: none;

                &.no-img {
                  box-shadow: inset 0 0 0 15px $color-black;
                }
              }

              .details {
                padding: 0 15px;
                overflow: hidden;
                flex: 1 0;

                .title {
                  font-family: $font-family-accent;
                  font-size: 16px;
                  text-transform: uppercase;
                  margin-bottom: 4px;
                  @extend %ellipsis;
                }

                .count {
                  font-family: $font-family-accent;
                  font-size: 21px;
                  color: $color-grey-500;
                  margin-right: 4px;
                }

                .count-elems {
                  font-size: 8px;
                  color: $color-grey-500;
                  text-transform: uppercase;
                }
              }
            }
          }

          @media all and (min-width: $screen-tablet) {
            .playlist-selector {
              .playlist {
                outline-offset: 3px;
                margin: 3px 10px 3px 3px;
                max-width: 280px;

                img {
                  display: block;
                }

                .details {
                  padding: 15px 15px 0;
                }
              }
            }
          }

          @media all and (min-width: $screen-desktop) {
            .playlist-selector {
              .playlist {
                outline-offset: 4px;
                margin: 4px 12px 4px 4px;
                max-width: 330px;

                img {
                  width: 110px;
                  height: 110px;
                }
              }
            }
          }
        }

        .content {
          label {
            margin-bottom: 30px;
            display: block;
          }
        }
      }
    }
  }
}
