@import "~src/sass/abstracts/variables";

.input-feedback {
  font-size: $form-feedback-font-size;
  margin-top: $form-feedback-margin-top;
  overflow: hidden;
  width: 100%;

  .msg {
    overflow: hidden;
    padding-left: calc(0.8em + 5px);
    position: relative;
  }

  &.theme-danger {
    .msg {
      &::before,
      &::after {
        border-left: 1px solid currentColor;
        color: inherit;
        content: '';
        height: 0.8em;
        left: calc(0.4em - 1px);
        position: absolute;
        top: calc(0.1em + (1em * #{$line-height-base - 1} / 2) - 1px);
        transform: rotate(45deg);
        transform-origin: center;
        transition: all .3s;
        width: 0;
      }

      &::after {
        transform: rotate(-45deg);
      }
    }
  }

  &.theme-info,
  &.theme-success,
  &.theme-warning {
    .msg {
      &::before {
        color: inherit;
        content: '';
        position: absolute;
      }
    }
  }

  &.theme-info {
    .msg {
      &::before {
        border: 1px solid currentColor;
        border-radius: 50%;
        height: 0.6em;
        left: 0;
        top: calc(0.2em + (1em * #{$line-height-base - 1} / 2) - 1px);
        width: 0.6em;
      }
    }
  }

  &.theme-success {
    .msg {
      &::before {
        border: solid currentColor;
        border-width: 0 1px 1px 0;
        height: 0.6em;
        left: 0.2em;
        top: calc(0.2em + (1em * #{$line-height-base - 1} / 2) - 1px);
        transform: rotate(45deg);
        transform-origin: center;
        width: 0.3em;
      }
    }
  }

  &.theme-warning {
    .msg {
      &::before {
        border-bottom: 0.6em solid currentColor;
        border-left: 0.3em solid transparent;
        border-right: 0.3em solid transparent;
        height: 0;
        left: 0;
        top: calc(0.2em + (1em * #{$line-height-base - 1} / 2) - 1px);
        width: 0;
      }
    }
  }
}
