@import "~src/styles/base/variables";

$subs-empty-width: (
  0: 320px,
  $screen-tablet: 440px,
  $screen-desktop-large: 550px
);

.container.empty {
  padding-bottom: 80px;
}

.no-subs {
  border: 1px solid $color-grey-600;
  color: $color-foreground;
  padding: 120px 120px 100px;
  text-align: center;
  margin-top: 70px;
  box-sizing: border-box;

  @each $screen-size, $width in $subs-empty-width {
    @media all and (min-width: $screen-size) {
      width: $width;
    }
  }

  & > .mat-icon {
    font-size: 50px;
    margin-bottom: 30px;
  }

  .title {
    font-weight: $font-w-bold;
    font-size: 21px;
    margin-bottom: 10px;
  }

  .subtitle {
    font-size: 13px;
    color: $color-grey-600;
  }
}
