<div class="form-wrapper login-form">
  <h3>Log ind</h3>

  <form [formGroup]="loginForm" (ngSubmit)="login()">

    <div class="form-group">
      <label for="username">Brugernavn</label>
      <input
        type="email"
        class="form-control"
        id="username"
        name="username"
        placeholder="Din e-mail adresse er dit brugernavn"
        autofocus
        required
        appAutofocus
        formControlName="username"
      >
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        required
        formControlName="password"
      >
    </div>

    <app-alert-group [alerts]="alerts"></app-alert-group>

    <div class="form-actions">
      <button type="submit" class="btn btn-primary" [ngClass]="{'btn-loading indefinite': submitting}"
              [disabled]="loginForm.invalid || submitting">
        Log ind
      </button>
    </div>

  </form>
</div>
