@import "~src/sass/abstracts/variables";

:host {
  align-items: center;
  background-color: $body-bg;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: $grid-gutter-width;
  width: 50vw;

  @include media-breakpoint-down(sm) {
    width: 100vw;
    z-index: 1;
  }
}

.form-wrapper {
  max-width: 370px;
  width: 100%;
}

h3 {
  margin-bottom: $font-size-base * 3;
}

form {
  .form-group {
    margin-bottom: 2rem;
  }

  .form-actions {
    padding-top: 1rem;

    .btn {
      display: block;
      margin: 0 auto;
      min-width: auto;
      padding-left: 65px;
      padding-right: 65px;
    }
  }
}

/*# sourceURL=login.component.scss */
