.container {
  .wrapper {
    .mat-table {
      .mat-row {
        .mat-column-actions {
          .action {
            .action-icon {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
