// Roboto
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

// IcoMoon custom icons
@font-face {
  font-family: '#{$icomoon-font-family}';
  src: url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?g8h5js') format('truetype'),
  url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?g8h5js') format('woff'),
  url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?g8h5js##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="ba-"], [class*=" ba-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-transform: none;
  speak: none;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ba-save {
  &:before {
    content: $ba-save;
  }
}

.ba-close {
  &:before {
    content: $ba-close;
  }
}

.ba-times {
  &:before {
    content: $ba-times;
  }
}

.ba-close_bold {
  &:before {
    content: $ba-close_bold;
  }
}

.ba-times_bold {
  &:before {
    content: $ba-times_bold;
  }
}

.ba-arrow-right {
  &:before {
    content: $ba-arrow-right;
  }
}

.ba-arrow-left {
  &:before {
    content: $ba-arrow-left;
  }
}

.ba-arrow-top {
  &:before {
    content: $ba-arrow-top;
  }
}

.ba-arrow-bottom {
  &:before {
    content: $ba-arrow-bottom;
  }
}

.ba-arrow-right_bold {
  &:before {
    content: $ba-arrow-right_bold;
  }
}

.ba-arrow-left_bold {
  &:before {
    content: $ba-arrow-left_bold;
  }
}

.ba-arrow-top_bold {
  &:before {
    content: $ba-arrow-top_bold;
  }
}

.ba-arrow-bottom_bold {
  &:before {
    content: $ba-arrow-bottom_bold;
  }
}

.ba-plus {
  &:before {
    content: $ba-plus;
  }
}

.ba-minus {
  &:before {
    content: $ba-minus;
  }
}

.ba-pencil {
  &:before {
    content: $ba-pencil;
  }
}

.ba-copy {
  &:before {
    content: $ba-copy;
  }
}

.ba-archive {
  &:before {
    content: $ba-archive;
  }
}

.ba-trash {
  &:before {
    content: $ba-trash;
  }
}

.ba-person {
  &:before {
    content: $ba-person;
  }
}

.ba-eye {
  &:before {
    content: $ba-eye;
  }
}

.ba-check {
  &:before {
    content: $ba-check;
  }
}

.ba-check_bold {
  &:before {
    content: $ba-check_bold;
  }
}
