@import "~src/sass/abstracts/variables";

:host {
  display: flex;
  flex: 1 0;
  flex-direction: column;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  @include scrollbar;
}

.home-wrapper {
  background: url(/assets/images/main-image.jpg) center no-repeat, linear-gradient(311.25deg, rgba(#112227, .5) 0%, rgba(#3B7889, .5) 100%);
  background-size: cover;
  display: flex;
  flex: 1 0 auto;
  justify-content: flex-end;
  position: relative;

  .hero {
    align-items: center;
    color: $white;
    display: flex;
    flex: 1 0;
    flex-direction: column;
    justify-content: center;
    padding: $grid-gutter-width;
    text-align: center;
    transition: all .5s;

    h1 {
      letter-spacing: 1px;
      margin-bottom: 32px;
      width: 100%;
    }

    p {
      font-size: $font-size-base * 1.125;
      margin: 0;
      max-width: 600px;
      width: 100%;
    }

    .hero-btn {
      margin-bottom: 1rem;
      margin-top: 48px;
      min-width: 300px;
      transition: all .5s, opacity .3s, color .2s;
    }

    &.active-form {
      .hero-btn {
        color: transparent;
        height: 0;
        margin: 0;
        opacity: 0;
        padding-bottom: 0;
        padding-top: 0;
        transform: scale(0);
      }

      @include media-breakpoint-down(sm) {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  }
}

/*# sourceURL=home.component.scss */
