<div class="home-wrapper" [@homeRouterTransition]="getState(outlet)">
  <div class="hero" [class.active-form]="activeForm">
    <h1>Velkommen til Boliganalysen</h1>
    <p>
      Boliganalysen er et værktøj til kommunen hvor det er muligt at målrette energikampagner meget præcist mod
      specifikke boligejere.
    </p>
    <a routerLink="/login" class="btn btn-big-shadow-primary hero-btn">Log ind</a>
  </div>
  <router-outlet #outlet="outlet"></router-outlet>
</div>

<app-footer></app-footer>
