@import "~src/styles/base/variables";
@import "~src/styles/base/mixins";

:host {
  display: inline-block;
}

.card-playlist {
  display: block;
  width: 100%;
  padding-bottom: 100%;
  position: relative;

  .card-playlist-wrapper {
    border-radius: $border-radius-base;
    background-color: $color-background-accent;
    background-position: center;
    background-size: cover;
    box-shadow: $shadow-long;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 8px;
    transition: $transition-base;
    cursor: pointer;

    &:hover {
      box-shadow: $shadow-long-hover;
    }

    &.no-img {
      box-shadow: $shadow-long, inset 0 0 0 11px $color-black;
      background-image: url(~src/assets/images/playlist-default.svg) !important;

      &:hover {
        box-shadow: $shadow-long-hover, inset 0 0 0 11px $color-black;
      }
    }

    &::before {
      content: '';
      background-color: rgba($color-black, .16);
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
    }

    .content {
      color: $color-foreground;
      text-align: left;
      position: absolute;
      bottom: 0;
      width: 100%;
      background-color: rgba($color-grey-900, .5);
      padding: 17px 12px 8px;
      box-sizing: border-box;
      min-height: 95px;
      z-index: 2;

      .playlist-author {
        width: 25px;
        height: 25px;
        object-fit: cover;
        border-radius: 50%;
        box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .16);
        position: absolute;
        top: 0;
        right: 12px;
        transform: translateY(-70%);
      }

      .playlist-name {
        font-weight: $font-w-bold;
        font-size: 16px;
        text-transform: uppercase;
        margin-bottom: 7px;
        @extend %ellipsis;
      }

      .playlist-detail {
        font-size: 12px;
        text-transform: uppercase;
        margin-bottom: .6em;

        span {
          display: inline-block;
          margin-right: 7px;
        }

        .count {
          font-family: $font-family-accent;
          line-height: 1;
        }
      }

      .playlist-chip {
        font-size: 9px;
        font-style: italic;
        line-height: 18px;
        display: inline-block;
        padding: 0 1.2em;
        border-radius: 9px;
        background-color: $color-accent;
      }
    }

    &:not(.small) {
      @media all and (min-width: $screen-desktop-small) {
        &.no-img {
          box-shadow: $shadow-long, inset 0 0 0 15px $color-black;

          &:hover {
            box-shadow: $shadow-long-hover, inset 0 0 0 15px $color-black;
          }
        }

        .content {
          padding: 24px 16px 14px;
          min-height: 128px;

          .playlist-author {
            width: 34px;
            height: 34px;
            right: 16px;
          }

          .playlist-name {
            font-size: 20px;
          }

          .playlist-detail {
            font-size: 16px;
          }
        }
      }
    }
  }
}
