<h3 mat-dialog-title [innerHTML]="data.title.string | translate:data.title.params"></h3>

<mat-dialog-content>
  <p class="text" [innerHTML]="data.text.string | translate:data.text.params"></p>
  <mat-form-field appearance="outline">
    <mat-label>{{ data.label.string | translate:data.label.params }}</mat-label>
    <input *ngIf="data.type === 'input'" matInput cdkFocusInitial [formControl]="input" required>
    <textarea
      *ngIf="data.type !== 'input'"
      matInput
      cdkTextareaAutosize
      [formControl]="input"
      required
      appAutoFocus
    ></textarea>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close class="secondary-btn">
    {{ data.secondaryAction.string | translate:data.secondaryAction.params }}
  </button>
  <button
    mat-raised-button
    color="primary"
    [mat-dialog-close]="input.value"
    class="primary-btn"
    [disabled]="!input.valid || input.pristine"
  >
    {{ data.primaryAction.string | translate:data.primaryAction.params }}
    <mat-icon *ngIf="data.icon" fontIcon="icon-{{ data.icon }}"></mat-icon>
  </button>
</mat-dialog-actions>
