@mixin theme-button($background, $background-hover, $color, $color-hover: $color, $border: $background, $border-hover: $background-hover, $loading: rgba($white, .2)) {
  background-color: $background;
  border-color: $border;
  color: $color !important;
  font-size: $font-size-base * .875;
  min-width: $btn-min-width;
  outline: none !important;

  &.btn-lg {
    min-width: $btn-min-width-lg;
  }

  &.btn-sm {
    font-size: $font-size-sm;
    min-width: $btn-min-width-sm;
    line-height: calc(2rem - #{$btn-border-width * 2});
  }

  &.btn-xs {
    font-size: $font-size-sm;
    line-height: calc(1.5rem - #{$btn-border-width * 2});
    min-width: 0;
    padding: 0 8px;
  }

  &:not(.disabled):not([disabled]) {
    &:hover,
    &:focus,
    &:active {
      color: $color-hover !important;
      background-color: $background-hover;
      border-color: $border-hover;
    }
  }

  &.btn-loading {
    background-image: linear-gradient(0deg, $loading, $loading);
    background-repeat: no-repeat;
    background-size: 0;
  }
}

@mixin theme-button-big-shadow($background1, $background2, $color, $border: transparent, $color-hover: $color, $border-hover: $border, $shadow: true) {
  background: linear-gradient(90deg, $background2 0%, $background1 50%, $background2 100%);
  background-position-x: 100%;
  background-size: 200%;
  border: 1px solid $border;
  border-radius: 1.5rem;
  color: $color !important;
  font-size: $font-size-base * .875;
  line-height: 3rem;
  min-height: 3rem;
  min-width: 3rem;
  padding: 0 .5rem;
  text-transform: uppercase;
  transition: all .5s;

  &:not(.disabled):not([disabled]) {
    &:hover,
    &:focus,
    &:active {
      background-position-x: 0;
      border-color: $border-hover;
      box-shadow: $box-shadow-lg;
      color: $color-hover !important;
    }
  }
}
