html,
body {
  font-family: 'Lato', sans-serif;
  color: $color-foreground;
  background-color: $color-background;
  margin: 0;

  &.sidenav-open {
    overflow-y: hidden;
  }
}

.container {
  @include container($container, 20px);
}

.container-small {
  @include container($container-small);
}

.container-sidenav {
  @include container($container-sidenav, 30px);
}

.container-item {
  @include container($container-item);
  box-sizing: border-box !important;
  @media all and (min-width: 0) {
    padding: 0 20px;
  }
  @media all and (min-width: $screen-tablet) {
    padding: 0;
  }
}
