@import "~src/themes/theme-colors";

// Colors
$color-black: #000000;
$color-grey-900: #1A1A1A;
$color-grey-800: #333333;
$color-grey-700: #666666;
$color-grey-600: #999999;
$color-grey-500: #BDBDBD;
$color-grey-400: #CCCCCC;
$color-grey-300: #E2E2E2;
$color-grey-200: #EEEEEE;
$color-grey-100: #F4F4F4;

// Font weights
$font-w-black: 900;
$font-w-bold: 700;
$font-w-medium: 500;
$font-w-regular: 400;
$font-w-light: 300;

// Font families
$font-family-base: 'Lato', sans-serif;
$font-family-accent: 'Oswald', $font-family-base;
$font-family-logo: 'MuseoSans', $font-family-base;

// Shadows
$shadow: 0 3px 6px 0 rgba($color-black, .16);
$shadow-dark: 0 3px 6px 0 rgba($color-black, .4);
$shadow-long: 0 0 8px 0 rgba($color-black, .16);
$shadow-long-hover: 0 0 16px rgba($color-black, .42);

// Icons sizes
$font-size-icon-small: 16px;
$font-size-icon: 24px;
$font-size-icon-medium: 36px;
$font-size-icon-big: 48px;

// Border radius
$border-radius-base: 4px;

// Transitions
$transition-duration-base: .25s;
$transition-base: all $transition-duration-base;

// Breakpoints
$screen-tablet-small: 360px;
$screen-tablet: 576px;
$screen-desktop-small: 768px;
$screen-desktop: 1024px;
$screen-desktop-large: 1366px;

// Containers
$container: (
  $screen-tablet-small: 320px,
  $screen-tablet: 456px,
  $screen-desktop-small: 690px,
  $screen-desktop: 926px,
  $screen-desktop-large: 1240px
);
$container-small: (
  $screen-tablet-small: 320px,
  $screen-tablet: 440px,
  $screen-desktop-small: 690px,
  $screen-desktop: 940px,
  $screen-desktop-large: 1160px
);
$container-sidenav: (
  $screen-tablet-small: 260px,
  $screen-tablet: 400px,
  $screen-desktop: 600px
);
$container-item: (
  0: 100%,
  $screen-tablet-small: 100%,
  $screen-tablet: 440px,
  $screen-desktop-small: 600px,
  $screen-desktop: 800px,
  $screen-desktop-large: 800px
);

// Sidenav
$sidenav-color: $color-background-accent;
$sidenav-toolbar-height: 56px;

// Top bar
$top-bar-height: 80px;
