<footer>
  <div class="container-fluid">
    <div class="row align-items-start">
      <div class="about col-md-5">
        <img src="../../../../assets/images/logo.svg" alt="Boliganalysen">
        <p>
          Boliganalysen drives af en række af landets kommuner i fællesskab - alle med en drøm om at nedsætte danskernes
          energiforbrug.
        </p>
      </div>
      <div class="footer-menu col" *ngFor="let menu of footerMenus">
        <h3>{{menu.label}}</h3>
        <ul>
          <li *ngFor="let link of footerMenusLinks[menu.internalId]">
            <a href="{{link.link}}">{{link.title}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
