@import "../../../../sass/abstracts/variables";

$footer-menu-font-size: $font-size-sm;
$footer-menu-links-line-height: 2;

:host {
  flex-shrink: 0;
}

footer {
  background-color: $white;
  padding: ($grid-gutter-width * 2) 0;

  .container-fluid {
    .about {
      padding-right: 50px;

      img {
        height: 45px;
        margin-bottom: 1rem;
      }

      p {
        font-size: $font-size-sm;
        line-height: 1.5;
        margin: 0;
        max-width: 330px;
      }
    }

    .footer-menu {
      padding-top: 20px;

      h3 {
        font-size: $footer-menu-font-size * 1.0833;
        font-weight: $font-weight-bold;
        letter-spacing: 1px;
        margin-bottom: .5em;
        text-transform: uppercase;
      }

      ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          a {
            font-size: $footer-menu-font-size;
            line-height: $footer-menu-links-line-height;
          }
        }
      }
    }
  }
}

/*# sourceURL=footer.component.scss */
