<div class="image-selector">
  <input
    #browseInput
    type="file"
    name="file"
    [hidden]="true"
    accept="image/*"
    [multiple]="false"
    (change)="readFile($event)"
  >
  <div
    *ngIf="!cropperImage"
    class="drop-zone"
    (click)="browseInput.click()"
    (drop)="onDrop($event)"
    (dragover)="onDragOverChange($event)"
    (dragleave)="onDragOverChange($event)"
    [class.active]="isHover"
  >
    <div class="drop-zone-empty">
      <mat-icon fontIcon="icon-upload" color="primary"></mat-icon>
      <div class="drop-zone-title">{{ 'imageSelector.dropImage' | translate }}</div>
      <div class="drop-zone-subtitle">
        {{ formats.join(', ') | uppercase }}.
        {{ 'imageSelector.minWidth' | translate:{px: minWidth} }}
        {{ 'imageSelector.maxSize' | translate:{mb: maxSize / 1024 / 1024} }}
      </div>
    </div>
  </div>
  <div *ngIf="crop && cropperImage" class="cropper-group">
    <ngx-cropperjs
      #cropper
      [cropperOptions]="options"
      [imageUrl]="cropperImage"
      (ready)="ready()"
    ></ngx-cropperjs>
    <mat-slider min="0" max="3" step="0.05" [(value)]="zoom" (input)="changeZoom($event.value)"></mat-slider>
  </div>
  <figure *ngIf="!crop && cropperImage" class="image-preview">
    <img [src]="cropperImage" alt="Preview">
  </figure>
</div>
