<button
  mat-icon-button
  class="fav-item-btn item-action-btn state-btn"
  [class.loading]="marking || unmarking"
  [class.active]="!!item.idFavourite || marking"
  [disabled]="marking || unmarking"
  (click)="toggleFavourite()"
  [matTooltip]="'added' | translate"
  matTooltipClass="notification-tooltip"
  matTooltipPosition="above"
  [matTooltipDisabled]="true"
  #tooltip="matTooltip"
>
  <mat-spinner *ngIf="marking || unmarking" strokeWidth="1" color="accent"></mat-spinner>
  <mat-icon *ngIf="!marking && (!item.idFavourite || unmarking)" fontIcon="icon-star"></mat-icon>
  <mat-icon *ngIf="!unmarking && (item.idFavourite || marking)" fontIcon="icon-star-solid"></mat-icon>
</button>
