button {
  &.mat-button,
  &.mat-flat-button,
  &.mat-stroked-button,
  &.mat-raised-button {
    color: $color-foreground !important;
    text-transform: uppercase;
    padding: 0 20px;
    line-height: 36px !important;
    box-shadow: none !important;

    &.btn-big {
      line-height: 40px !important;
    }

    .mat-icon {
      margin-left: 14px;
    }

    &.edit-img-btn {
      border-radius: 0;
      text-transform: none;
      background-color: rgba(map_get($md-background, 300), .5);

      .mat-icon {
        margin-left: 11px;
      }
    }

    .mat-button-wrapper {
      display: flex;
      align-items: center;
    }
  }

  &.mat-button {
    color: $color-grey-600 !important;
  }

  &.mat-stroked-button {
    line-height: 34px !important;
  }

  &.mat-stroked-button:not([disabled]) {
    border-color: $color-foreground !important;
  }

  &.mat-fab,
  &.mat-mini-fab {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: $shadow !important;

    .mat-button-wrapper {
      padding: 0;

      .mat-icon {
        display: block;
        color: $color-foreground;
      }
    }
  }

  &.mat-icon-button {
    $icon-btn-size-desktop: 25px;
    $icon-btn-size: 20px;

    font-size: $icon-btn-size;
    width: 1.6em;
    height: 1.6em;
    line-height: 1;
    transition: $transition-base;

    .mat-button-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;

      .mat-spinner {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        &, svg {
          width: 100% !important;
          height: 100% !important;
        }
      }

      .mat-icon {
        font-size: inherit;
        line-height: 1;
      }
    }

    &:hover,
    &:focus {
      background-color: rgba($color-foreground, .05);
    }

    &.square-btn {
      border-radius: 2px;
      background-color: rgba(map_get($md-background, 300), .25);

      &:hover,
      &:focus {
        background-color: map_get($md-background, 500);
      }
    }

    &.item-action-btn {
      border-radius: 50%;
      border: 1px solid currentColor;
      color: $color-grey-600;
      background-color: transparent !important;
      cursor: pointer;
      outline: none !important;

      &:hover,
      &:focus {
        box-shadow: $shadow;
        color: $color-grey-400;
      }

      &.state-btn {
        &:hover,
        &:focus {
          color: $color-accent;
        }

        &.active {
          color: $color-accent;
        }
      }
    }

    @media all and (min-width: $screen-desktop) {
      font-size: $icon-btn-size-desktop;
    }
  }
}
