@import "../base/variables";

$card-item-padding-h: 16px;
$card-item-padding-h-tablet-small: 20px;
$card-item-padding-h-desktop: 26px;

.card-chip {
  font-size: 9px;
  font-style: italic;
  font-weight: $font-w-regular;
  line-height: 16px;
  display: block;
  padding: 0 12px;
  border-radius: 8px;
  background-color: $color-accent;
  position: absolute;
  top: 12px;
  left: $card-item-padding-h;
  color: $color-foreground;

  @media all and (min-width: $screen-tablet-small) {
    font-size: 10px;
    line-height: 22px;
    border-radius: 11px;
    top: 14px;
    left: $card-item-padding-h-tablet-small;
  }

  @media all and (min-width: $screen-desktop) {
    top: 16px;
    left: $card-item-padding-h-desktop;
  }
}
