.mat-chip {
  &.mat-standard-chip {
    min-height: 40px;
    border-radius: 20px;
    padding: 0 20px !important;
    font-size: 14px;
    font-weight: $font-w-regular;
    border: 1px solid $color-foreground;
    background-color: transparent;

    &.mat-chip-with-trailing-icon {
      .mat-icon {
        margin-left: 12px;
        opacity: 1;
      }
    }

    & + .mat-chip {
      margin-left: 16px !important;
    }
  }

  &.compact {
    &.mat-standard-chip {
      min-height: 26px;
      border-radius: 13px;
      padding: 0 15px !important;
      font-size: 11px;
      border: 1px solid rgba($color-foreground, 0.7);

      &.mat-chip-with-trailing-icon {
        .mat-icon {
          margin-left: 10px;
          font-size: 12px;
          width: 12px;
          height: 12px;
        }
      }
    }

    & + .mat-chip {
      margin-left: 4px !important;
    }
  }
}
