.ck-editor {
  .ck-editor__editable {
    height: 400px;
    overflow-y: auto;
    color: $color-black;
  }

  .ck-toolbar {
    padding: var(--ck-spacing-small) !important;

    .ck-toolbar__separator {
      margin-top: var(--ck-spacing-small);
      margin-bottom: var(--ck-spacing-small);
    }
  }

  &.fullscreen {
    position: fixed !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 500;
    display: flex;
    flex-direction: column;

    .ck-editor__top {
      flex-shrink: 0;
    }

    .ck-editor__main {
      flex: 1 0;
      overflow: hidden;

      .ck-editor__editable {
        height: 100%;
      }
    }
  }
}
