.cdk-overlay-backdrop {
  background-color: rgba($color-black, .8);
}

.mat-dialog-container {
  box-shadow: $shadow;
  border-radius: 6px;
  color: $color-grey-700;
  min-width: 80vw;

  .mat-dialog-title {
    font-size: 20px;
    font-weight: $font-w-bold;
  }

  .mat-dialog-content {
    p {
      font-size: 13px;
      margin: 0 0 20px;
    }
  }

  .mat-dialog-actions {
    padding: 0;
    min-height: 0;
    justify-content: flex-end;
    margin: 30px -4px -4px;

    button {
      margin: 4px;
      padding: 0 13px;

      .mat-icon {
        font-size: 18px;
      }

      &[disabled] {
        background-color: rgba($color-background-accent, .5);
      }
    }
  }

  @media all and (min-width: $screen-desktop-small) {
    min-width: 568px;
  }
}
