.table-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 0;

  .table-loader {
    padding: 20px;

    .mat-spinner {
      margin: 0 auto;
    }
  }

  .table-wrapper {
    min-height: 0;
    overflow-y: auto;
    margin-bottom: auto;
  }

  .mat-paginator {
    flex-shrink: 0;
  }
}

.mat-table {
  width: 100%;
  font-size: 14px;

  thead {
    .mat-header-row {
      .mat-header-cell {
        &, button {
          font-size: 12px;
          text-transform: uppercase;
          color: $color-grey-800;
        }
      }
    }
  }

  tbody {
    .mat-row {
      .mat-cell {
        font-size: inherit;
        color: $color-grey-700;
      }
    }
  }

  td.mat-cell,
  th.mat-header-cell {
    padding: 10px 0 10px 20px !important;
    border-bottom-color: $color-grey-200;

    &:last-of-type {
      padding-right: 20px !important;
    }
  }

  @media all and (min-width: $screen-tablet) {
    td.mat-cell,
    th.mat-header-cell {
      padding: 10px 0 10px 40px !important;

      &:last-of-type {
        padding-right: 40px !important;
      }
    }
  }
}

.mat-paginator {
  box-shadow: 0 0 6px 0 rgba($color-black, .16);
  color: $color-grey-600;
  font-size: 11px;

  .mat-paginator-container {
    min-height: 47px;
    padding: 0 10px;
    overflow: hidden;

    .mat-paginator-range-actions {
      margin: 0;

      .mat-paginator-range-label {
        margin: 0 13px 0 4px;
      }

      .mat-icon-button {
        color: inherit;
        width: 30px;
        height: 30px;

        &[disabled] {
          opacity: .4;
        }

        svg {
          vertical-align: unset;
        }
      }
    }

    .mat-paginator-page-size {
      margin: 0;

      .mat-paginator-page-size-label {
        margin: 0 7px;

        &::after {
          content: ':';
        }
      }

      .mat-paginator-page-size-select {
        width: auto;
        margin: 0;

        .mat-form-field-wrapper {
          padding: 0;

          .mat-form-field-infix {
            border-top: 0;
            width: auto;
            padding: 5px 0;

            .mat-select {
              .mat-select-trigger {
                font-size: inherit;
                color: inherit;

                .mat-select-value {
                  color: inherit;
                  width: auto;
                  max-width: none;
                }

                .mat-select-arrow-wrapper {
                  .mat-select-arrow {
                    color: inherit;
                    border-left-width: 4px;
                    border-right-width: 4px;
                  }
                }
              }
            }
          }
        }

        .mat-form-field-label-wrapper,
        .mat-form-field-underline,
        .mat-form-field-subscript-wrapper {
          display: none;
        }
      }
    }
  }

  @media all and (min-width: $screen-tablet) {
    font-size: 13px;

    .mat-paginator-container {
      padding: 0 20px;

      .mat-paginator-range-actions {
        .mat-paginator-range-label {
          margin: 0 32px 0 24px;
        }
      }
    }
  }
}
