.mat-tab-nav-bar {
  border-bottom: 0;

  .mat-tab-links {
    .mat-tab-link {
      min-width: 0;
      text-transform: uppercase;

      &.mat-tab-label-active {
        opacity: 1;
        font-weight: $font-w-bold;
      }
    }
  }
}

.mat-tab-group {
  .mat-tab-header {
    border-bottom: 0;
    overflow: visible;
    z-index: 10;

    .mat-tab-label-container {
      overflow: visible;

      .mat-tab-list {
        padding: 32px 0 0 56px;

        .mat-tab-labels {
          .mat-tab-label {
            min-width: 0;
            text-transform: uppercase;
            opacity: 1;
            color: $color-grey-600;

            &.mat-tab-label-active {
              color: $color-foreground;
            }
          }
        }

        .mat-ink-bar {
          background-color: $color-grey-100;
          height: 3px;
          box-shadow: 0 2px 2px 0 rgba($color-black, .3);
        }
      }
    }
  }

  @media all and (min-width: $screen-desktop) {
    .mat-tab-header {
      .mat-tab-label-container {
        .mat-tab-list {
          padding: 32px 0 0 60px;
        }
      }
    }
  }
}
