.mat-snack-bar-container {
  border-radius: 2px !important;
  padding: 14px 20px !important;
  box-shadow: $shadow;
  color: $color-foreground;
  text-align: left;
  min-width: 0 !important;
  position: absolute;
  top: $top-bar-height;
  right: 0;

  .mat-simple-snackbar {
    & > span {
      font-weight: $font-w-bold;
      font-size: 14px;
      line-height: 1.2;
    }

    .mat-simple-snackbar-action {
      margin-left: 28px;
    }
  }

  button {
    color: $color-foreground !important;
  }

  &.success {
    background-color: $color-success;
  }

  &.notification {
    background-color: $color-accent;
  }

  &.warn {
    background-color: $color-warn;
  }
}
