.mat-tooltip {
  font-size: 10px;
  color: $color-foreground !important;
  background-color: rgba($color-black, 0.6);
  box-shadow: $shadow;
  padding: 4px 12px !important;
  margin: 4px !important;

  &.notification-tooltip {
    background-color: $color-accent;
  }
}
