$museo-sans-font-family: "MuseoSans";
$museo-sans-font-weights: $font-w-medium, $font-w-bold;

@each $weight in $museo-sans-font-weights {
  @font-face {
    font-family: '#{$museo-sans-font-family}';
    src: url('#{$font-path}/#{$museo-sans-font-family}/#{$museo-sans-font-family}_#{$weight}.ttf') format('truetype');
    font-weight: $weight;
    font-style: normal;
  }
}
