@import "~src/styles/base/variables";
@import "~src/styles/base/mixins";
@import "~src/styles/fonts/netex/variables";

.tab-buttons {
  .tabs-wrapper,
  .select-wrapper {
    margin: 55px 0;
  }

  .tabs-wrapper {
    border-bottom: none;
    display: none;

    a.mat-tab-link {
      transition: background-color 0.2s;
      height: 40px;
      padding: 0 36px;
      border: 1px solid $color-grey-600;
      border-radius: 2px;
      background-color: transparent;
      color: $color-foreground;
      text-transform: none;
      font-weight: $font-w-regular !important;
      opacity: 1;
      font-size: 14px;

      & + .mat-tab-link {
        margin-left: 16px;
      }

      &.mat-tab-label-active,
      &:hover,
      &:focus {
        background-color: map-get($md-background, 300);
        border-color: map-get($md-background, 300);
      }

      .amount {
        font-weight: $font-w-bold;
        margin-left: 4px;
      }
    }

    mat-ink-bar {
      display: none;
    }

    @media all and (min-width: $screen-tablet-small) {
      display: inline-flex;
    }
  }

  .select-wrapper {
    width: 100%;

    .mat-form-field {
      width: 100%;

      .mat-form-field-wrapper {
        padding: 0;

        .mat-form-field-flex {
          padding: 0 16px;
          border-radius: $border-radius-base;
          background-color: map-get($md-background, 300);

          .mat-form-field-infix {
            border: 0;
            padding: 0;
            line-height: 40px;

            .nav-select {
              display: block;

              .mat-select-trigger {
                display: table;

                .mat-select-value {
                  font-size: 12px;

                  .amount {
                    font-weight: $font-w-bold;
                    margin-left: 4px;
                  }
                }

                .mat-select-arrow-wrapper {
                  transform: none;

                  .mat-select-arrow {
                    border: none;
                    width: auto;
                    height: auto;
                    display: flex;
                    align-items: center;
                    margin: 0 -5px 0 0;
                    color: $color-foreground;
                    @include font-icon($icomoon-font-family, $icon-chevron-down, 24px);
                  }
                }
              }
            }

            .mat-form-field-label-wrapper {
              display: none;
            }
          }
        }

        .mat-form-field-underline,
        .mat-form-field-subscript-wrapper {
          display: none;
        }
      }
    }

    @media all and (min-width: $screen-tablet-small) {
      display: none;
    }
  }
}

.mat-select-panel.nav-select-panel {
  background-color: map-get($md-background, 300);
  padding: 5px 0;
  margin-top: -5px;

  mat-option {
    font-size: 12px;
    line-height: 47px;
    height: 47px;

    &.mat-selected {
      background-color: $color-foreground !important;
      color: $color-grey-700 !important;
    }

    .mat-option-text {
      .amount {
        font-weight: $font-w-bold;
        margin-left: 4px;
      }
    }
  }
}
