<div class="tab-buttons">
  <nav mat-tab-nav-bar class="tabs-wrapper">
    <a
      mat-tab-link
      *ngFor="let link of navLinks"
      [routerLink]="link.path"
      routerLinkActive #rla="routerLinkActive"
      [active]="rla.isActive"
      replaceUrl
    >
      <span class="label">{{ link.label.string | translate:link.label.params }}</span>
      <span class="amount" *ngIf="link.amount">({{ link.amount }})</span>
    </a>
  </nav>

  <div class="select-wrapper">
    <mat-form-field appearance="fill">
      <mat-select
        [value]="selected"
        class="nav-select"
        panelClass="nav-select-panel"
      >
        <mat-select-trigger>
          <span class="label">{{ selected.label.string | translate:selected.label.params }}</span>
          <span class="amount" *ngIf="selected.amount">({{ selected.amount }})</span>
        </mat-select-trigger>
        <mat-option
          *ngFor="let link of navLinks"
          [routerLink]="link.path"
          [value]="link"
          replaceUrl
        >
          <span class="label">{{ link.label.string | translate:selected.label.params }}</span>
          <span class="amount" *ngIf="link.amount">({{ link.amount }})</span>
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
