<p>home-projects works!</p>
<ul>
  <li *ngFor="let project of projectsGQL | async">{{project.id}}</li>
</ul>

<!--<div *ngIf="!loading && project">
  {{ project.name }}
  {{ project.description }}
</div>-->
