<app-sidenav-container>
  <section class="sidenav-content playlists-add">
    <mat-toolbar>
      <button mat-icon-button appCloseSidenav>
        <mat-icon fontIcon="icon-cross"></mat-icon>
      </button>
      <span class="title">{{ (data.currentPlaylist ? 'playlist.edit' : 'playlist.add') | translate }}</span>
      <button mat-flat-button color="primary" [disabled]="!form.valid" (click)="submit()">
        {{ (data.currentPlaylist ? 'save' : 'add') | translate }}
        <mat-icon fontIcon="icon-check"></mat-icon>
      </button>
    </mat-toolbar>
    <main>
      <div class="container-sidenav">
        <form [formGroup]="form">
          <figure class="playlist-cover">
            <img [src]="preview" alt="" appImgDefault="cover-default.svg">
            <button mat-stroked-button class="edit-img-btn btn-big" (click)="editCover()">
              {{ 'edit_cover' | translate }}
              <mat-icon fontIcon="icon-editor-image"></mat-icon>
            </button>
          </figure>
          <mat-form-field>
            <input
              matInput
              [placeholder]="'title' | translate"
              formControlName="title"
              required
              [appAutoFocus]="!data.currentPlaylist"
            >
          </mat-form-field>
          <mat-form-field>
            <input matInput [placeholder]="'description' | translate" formControlName="description">
          </mat-form-field>
          <app-chips-autocomplete
            [label]="'tags' | translate"
            [options$]="tags$"
            [(items)]="tags"
            [allowCustom]="true"
            (query)="tagsSubject.next($event)"
          ></app-chips-autocomplete>
          <mat-form-field class="width-auto">
            <mat-label>{{ 'visibility' | translate }}</mat-label>
            <mat-select formControlName="configuration" required>
              <mat-option
                *ngFor="let _config of _playlistConfigsKeys"
                [value]="_config"
              >{{ 'playlistConfigs.' + _playlistConfigs[_config] | translate }}</mat-option>
            </mat-select>
          </mat-form-field>
        </form>
      </div>
    </main>
  </section>
</app-sidenav-container>
