<ngb-alert *ngFor="let alert of _alerts" [type]="alert.type" [dismissible]="alert.dismissible" (close)="close(alert)" [@showHideAlert]>
  <div class="alert-title" *ngIf="alert.title">{{alert.title}}</div>
  <div class="alert-msg">{{alert.message}}</div>
</ngb-alert>
